@import "vars";

.car-hero-sec {
    padding-top: 150px;
    padding-bottom: 50px;
    overflow: hidden;

}

.car-hero-sec__title {
    font-size: 45px;
}



.car-hero-sec__slider-wrapper {
    margin-top: 40px;
    position: relative;
    height: calc(100vh - 110px - 150px - 40px - 45px - 20px);
    width: 100%;
    display: flex;
    justify-content: center;
}

.car-hero-sec__slider-row {
    width: 3700px;
    position: absolute;
    // transform: translateX(-180px);
    top: 0;
}

.car-hero-sec__slider-row-hide {
    position: absolute;
    height: 100%;
    width: 1200px;
    background: rgba(16, 22, 27, 0.71);
    top: 0;
    z-index: 30;
}

.car-hero-sec__slider-row-hide--v1 {
    left: 0;
}

.car-hero-sec__slider-row-hide--v2 {
    right: 0;
}

.single-car-swiper__slide-img-picture {
    width: 100%;
    height: calc(100vh - 110px - 150px - 40px - 45px - 20px);
    display: block;
    object-fit: cover;
}

.single-car-swiper__slide-img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.swiper-pagination {
    display: none;
}



.single-car-swiper__slide-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.3s;
    border: 2px solid rgba(83, 74, 60, 0);

    .home-hero-sec__play {
        position: absolute;
    }

    &:hover {
        .single-car-swiper__slide-zoom {
            opacity: 1;
            transition: all ease 0.3s;
        }
    }
}

.single-car-swiper__slide-zoom {
    position: absolute;
    border-radius: 6px;
    background: rgba(93, 115, 110, 0.40);
    right: 30px;
    bottom: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
    opacity: 0;

    &:hover {
        transition: all ease 0.3s;
        background: $green2s
    }
}

.single-car-swiper .single-car-swiper__slide .single-car-swiper__slide-wrapper {
    opacity: 0.4;
}

.single-car-swiper .swiper-slide-next .single-car-swiper__slide-wrapper {
    opacity: 1;
    border: 2px solid rgba(83, 74, 60, 0.35);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
}

.car-char-sec {
    padding-bottom: 150px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.char-full {
    display: flex;
    align-items: center;
}

.char-full__icon-wrapper {
    background: linear-gradient(180deg, rgba(240, 200, 131, 0.50) 0%, rgba(127, 91, 55, 0.50) 100%);
    width: 60px;
    height: 60px;
    border-radius: 100px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
        position: relative;
        z-index: 2;
        max-width: 25px;
        max-height: 25px;
    }

    &::before {
        width: 58px;
        height: 58px;
        background: $bgColor2;
        border-radius: 100px;
        content: "";
        position: absolute;

    }
}

.char-full__data {
    margin-left: 15px;
}

.char-full__title {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.21px;
    color: $grey4;
    margin-bottom: 12px;
}

.char-full__value {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.27px;
    color: $white;
}

.car-price-sec {
    padding-bottom: 150px;
}

.car-price-sec__switch-row {
    margin-top: 60px;
}

.price-switch {
    display: flex;
    padding-bottom: 10px;
    padding-left: 3px;
}

.price-switch__btn {
    background: $bgColor2;
    color: $grey3;
    width: calc((25% / 2) - 8px);
    padding: 15px 0;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid #3F4F4F;
    transition: all ease 0.3s;
    opacity: 0.9;

    &.active {
        color: $white;
        background: $bgColor2;
        opacity: 1;
        border: solid 1px #5D736E;
    }
}

// .car-price-sec__table {
//     margin-top: 60px;
// }

.price-table {
    display: flex;
    flex-wrap: wrap;
}

.price-table__col {
    width: calc(25% - 6px);
    margin: 0px 3px 0px 3px;

    &:first-child {
        .price-table__el {
            color: $white;
        }
    }
}

.price-table__el {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: $bgColor2;
    padding: 0 30px;
    margin-bottom: 6px;

    &:last-child {
        margin-bottom: 0;
    }
}

.sale-wrapper {
    width: 100%;
}

.price-table__el-value {
    color: rgba(207, 207, 207, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    &.active {
        color: $white;
    }

    .price-table__el-value-num {
        display: inline-block;
        margin-right: 7px;
    }
}

.price-table__el-value-old-price {
    width: 100%;
    display: block;
    font-size: 14px;
    opacity: 0.6;
    text-decoration: line-through;
    margin-top: 7px;

    .price-table__el-value-num {
        text-decoration: line-through;
    }
}

.price-table__el-value-new-price {
    width: 100%;
    position: relative;
    display: block;
    color: $gold1;
}

.price-table__el-value-new-price-sale-procent {
    position: absolute;
    padding: 4px 6px;
    border-radius: 3px;
    right: 0;
    top: 0;
    font-size: 14px;
    color: $white;
    background: $green3;
}

.price-table__el-header {
    color: $grey3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    border: 1px solid #534A3C;
}

.car-price-sec__dop-services {
    margin-top: 5px;
}

.dop-services-price__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0;
    border-bottom: solid 1px $green1;
}

.dop-services-price__name {
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
}

.dop-services-price__value {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    text-align: right;
    color: $white;
}

.car-about-sec {
    padding-bottom: 150px;
}

.car-about-sec__info-wrapper {
    margin-top: 65px;
}


.car-char-full-sec {
    padding-bottom: 150px;
}

.car-char-full-sec__wrapper {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.car-char-full-sec__row {
    width: calc(50% - 37px);
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px $green1;

    &:nth-child(1) {
        border-top: solid 1px $green1;
    }

    &:nth-child(2) {
        border-top: solid 1px $green1;
    }
}

.car-char-full-sec__value {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;
    color: $grey2;
}

.car-char-full-sec__row-name {
    display: flex;
    align-items: center;
}

.car-char-full-sec__row-counter {
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    width: 30px;
    margin-right: 55px;
    color: $grey4 ;
}

.car-char-full-sec__row-name-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    color: $grey4 ;
}

.car-adv-sec {
    padding-bottom: 150px;
}




.car-simmilar-sec {
    padding-bottom: 150px;
}

.car-simmilar-sec__cars-wrapper {
    margin-top: 70px;

}

.car-price-sec__btn-mob {
    display: none;
}

.car-simmilar-sec__bob-btn {
    display: none;
}

.car-hero-sec__price {
    .car-card__price {
        font-size: 20px;
    }

    .car-card__price-value {
        font-size: 28px;
    }


}

.car-card__price-old-price {
    text-decoration: line-through;
    font-size: 18px;
    color: $grey1;
    text-align: right;
    margin-top: 5px;

    .car-card__price-value {
        font-size: 18px;
        color: $grey1;
    }
}

.car-card__price-sale-price {
    position: relative;
    text-align: left;
}

.car-card__price--sale-price-procent {
    position: absolute;
    font-size: 14px;
    padding: 6px;
    border-radius: 4px;
    right: -60px;
    top: 5px;
    background: $green2s;
}

.single-car-swiper-button-next {
    left: calc(50% + 600px - 35px);
}

.single-car-swiper-button {
    position: absolute;
    z-index: 20;
    background: $bgColor2;
    border: solid 1px $green2s;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    top: calc(50% - 35px);
    opacity: 0.6;
    transition: all ease 0.3s;

    svg {
        display: block;
    }
}

.single-car-swiper-button-prev {
    left: calc(50% - 600px - 35px);

    svg {
        transform: rotate(180deg);
    }
}

.car-hero-sec__slider-wrapper {
    &:hover {
        .single-car-swiper-button {
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.price-table-mob-wrapper {
    display: none;
}






@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1580px) {


    .car-hero-sec__title {
        font-size: 45px;
    }


    .car-char-sec {
        padding-bottom: 130px;
    }

    .car-price-sec {
        padding-bottom: 130px;
    }



    .car-about-sec {
        padding-bottom: 130px;
    }

    .car-char-full-sec {
        padding-bottom: 130px;
    }

    .car-adv-sec {
        padding-bottom: 130px;
    }

    .car-simmilar-sec {
        padding-bottom: 130px;
    }
}


@media only screen and (max-width: 1500px) {
    .car-hero-sec {
        padding-bottom: 50px;
        padding-top: 130px;
    }

    .car-hero-sec__title {
        font-size: 35px;
    }

    .car-hero-sec__slider-wrapper {
        margin-top: 40px;
    }

    .car-hero-sec__slider-row {
        width: 2600px;

    }

    .car-hero-sec__slider-wrapper {
        margin-top: 30px;
        height: calc(100vh - 110px - 150px - 60px);

    }

    .single-car-swiper__slide-img-picture {

        height: calc(100vh - 110px - 150px - 60px);

    }






    .char-full__icon-wrapper::before {
        width: 48px;
        height: 48px;
    }

    .char-full__icon-wrapper {
        width: 50px;
        height: 50px;

        svg {
            width: 20px;
            height: auto;
        }
    }

    .car-price-sec__switch-row {
        margin-top: 40px;
    }

    .price-switch__btn {
        width: 160px;
    }

    .char-full__title {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .char-full__value {
        font-size: 16px;
    }

    .char-full__data {
        margin-left: 15px;
    }

    .car-char-sec {
        padding-bottom: 100px;
    }

    .price-table__el {
        height: 60px;
        font-size: 16px;
    }

    .dop-services-price__row {
        padding: 30px 0;
    }

    .dop-services-price__value {
        font-size: 16px;
    }

    .dop-services-price__name {
        font-size: 16px;
    }

    .car-price-sec {
        padding-bottom: 100px;
    }

    .car-about-sec__info-wrapper {
        margin-top: 50px;
    }



    .car-about-sec {
        padding-bottom: 100px;
    }

    .car-char-full-sec__wrapper {
        margin-top: 50px;
    }

    .car-char-full-sec__row {
        width: calc(50% - 20px);
        padding: 35px 0;
    }

    .car-char-full-sec__value {
        font-size: 16px;
    }

    .car-char-full-sec__row-counter {
        font-size: 18px;
    }

    .car-char-full-sec {
        padding-bottom: 100px;
    }



    .car-adv-sec {
        padding-bottom: 100px;
    }

    .car-simmilar-sec__cars-wrapper {
        margin-top: 50px;
    }



    .car-simmilar-sec {
        padding-bottom: 100px;
    }

    .price-table__el-value-new-price-sale-procent {
        right: -20px;
        font-size: 11px;
    }

    .single-car-swiper-button-next {
        left: calc(50% + 460px);
    }

    .single-car-swiper-button-prev {
        left: calc(50% - 515px);
    }

    .single-car-swiper-button {
        width: 60px;
        height: 60px;
        top: calc(50% - 30px);
    }
}

@media only screen and (max-width: 1380px) {

    .car-card__price--sale-price-procent {
        right: 0;
        top: -30px;
    }

    .car-card__price-old-price {
        font-size: 14px;
    }

    .car-card__price-sale-price {
        .car-card__price-value {
            font-size: 24px;
        }

        font-size: 16px;
    }

    .car-hero-sec {
        padding-bottom: 50px;
        padding-top: 160px;
    }

    .car-hero-sec__title {
        font-size: 35px;
    }

    .car-hero-sec__slider-row {
        width: 2600px;
    }

    .car-hero-sec__slider-wrapper {

        height: calc(100vh - 110px - 150px - 40px - 45px);
        max-height: 600px;

    }

    .single-car-swiper__slide-img-picture {

        height: calc(100vh - 110px - 150px - 40px - 45px);
        max-height: 600px;
    }



    .single-car-swiper__slide-zoom {
        opacity: 0.7;
        width: 45px;
        height: 45px;

        svg {
            width: 28px;
        }
    }



    .char-full__icon-wrapper {
        width: 40px;
        height: 40px;

        &::before {
            width: 40px;
            height: 40px;
        }

        svg {
            width: 20px;
        }
    }

    .char-full__data {
        margin-left: 15px;
    }

    .char-full__title {
        font-size: 12px;
        margin-bottom: 7px;
    }

    .char-full__value {
        font-size: 14px;
    }

    .car-char-sec {
        padding-bottom: 100px;
    }

    .car-price-sec {
        padding-bottom: 100px;
    }



    .price-table__el {
        height: 60px;
        font-size: 14px;
    }

    .price-table__el-header {
        font-size: 14px;
    }

    .dop-services-price__row {
        padding: 30px 0;
    }

    .dop-services-price__value {
        font-size: 16px;
    }

    .dop-services-price__name {
        font-size: 16px;
    }

    .car-about-sec__info-wrapper {
        margin-top: 50px;
    }



    .car-about-sec {
        padding-bottom: 100px;
    }

    .car-char-full-sec__row {
        padding: 30px 0;
    }

    .car-char-full-sec__value {
        font-size: 16px;
    }

    .car-char-full-sec__wrapper {
        margin-top: 50px;
    }

    .car-char-full-sec {
        padding-bottom: 100px;
    }



    .car-adv-sec {
        padding-bottom: 100px;
    }

    .car-simmilar-sec {
        padding-bottom: 70px;
    }



    .price-table__el {
        padding-left: 20px;
        padding-right: 10px;
    }

    .price-table__el-value-new-price-sale-procent {
        right: 0;
    }

    .price-table__el-value-new-price {
        font-size: 13px;
    }

    .price-table__el-value-old-price {
        font-size: 12px;
    }

    .single-car-swiper-button {
        opacity: 0.5;
    }

    .single-car-swiper-button-prev {
        left: calc(50% - 451px);
    }

    .single-car-swiper-button-next {
        left: calc(50% + 391px);
    }


}

@media only screen and (max-width: 990px) {
    .car-card__price-sale-price {
        text-align: center;
    }

    .car-card__price-old-price {
        text-align: center;
    }

    .car-card__price--sale-price-procent {
        right: -50px;
        top: 3px;
        font-size: 12px;
    }

    .car-hero-sec .header-row-sec {
        flex-wrap: wrap;
        justify-content: center;
    }



    .car-hero-sec__title {
        width: 100%;
        text-align: center;
        padding-left: 0;
        margin-bottom: 0px;
        font-size: 30px;
        display: flex;
        position: relative;
        justify-content: center;

        &::before {
            left: auto;
            bottom: -20px;
            top: auto;
            opacity: 0;
        }
    }

    .car-hero-sec__slider-row {
        width: 2200px;
        transform: translateX(0px);
    }

    .single-car-swiper__slide-img-picture {
        height: 480px;
    }

    .car-hero-sec__slider-wrapper {
        height: 480px;
        margin-top: 30px;
    }

    .car-char-sec .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .car-hero-sec {
        padding-bottom: 30px;
        padding-top: 120px;
    }

    .char-full {
        width: calc(33.333%);
        margin: 0;
        margin-bottom: 20px;
    }

    .car-char-sec {
        padding-bottom: 50px;
    }

    .price-table__el {
        font-size: 13px;
    }

    .price-table__el {
        padding: 0 10px;
        text-align: center;
        justify-content: center;
    }

    .car-price-sec__table {
        margin-top: 35px;
    }

    .dop-services-price__row {
        padding: 25px 0;
    }

    .dop-services-price__value {
        font-size: 14px;
    }

    .dop-services-price__name {
        font-size: 14px;
    }



    .car-price-sec {
        padding-bottom: 50px;
    }

    .car-about-sec {
        padding-bottom: 90px;
    }

    .car-char-full-sec__wrapper {
        margin-top: 40px;
    }

    .car-char-full-sec__row {
        width: 100%;
        padding: 25px 0;
    }

    .car-char-full-sec__row-counter {
        font-size: 16px;
    }

    .car-char-full-sec__row-name-text {
        font-size: 14px;
    }

    .car-char-full-sec__value {
        font-size: 14px;
    }

    .car-char-full-sec {
        padding-bottom: 90px;
    }



    .car-adv-sec {
        padding-bottom: 70px;
    }

    .car-simmilar-sec__cars-wrapper {
        margin-top: 40px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }



    .car-simmilar-sec {
        padding-bottom: 66px;
    }

    .car-price-sec__table {
        margin-top: 0;
    }

    .price-table__el-value-new-price-sale-procent {

        display: none;
    }

    .car-hero-sec__price {
        justify-content: center;
        text-align: center;
    }

    .single-car-swiper-button {
        width: 50px;
        height: 50px;
        top: calc(50% - 25px);
    }

    .single-car-swiper-button-next {
        left: calc(50% + 329px);
    }

    .single-car-swiper-button-prev {
        left: calc(50% - 380px);
    }

    .car-hero-sec__price {
        display: none;
    }

    .car-page-price-char-wraper {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
    }

    .car-char-sec {
        width: 100%;
        order: 2;
    }

    .car-price-sec {
        width: 100%;
        order: 1;

        .header-row-sec {
            display: none;
        }
    }

    .price-table-pc-ipad-wrapper {
        display: none;
    }

    .price-table-mob-wrapper {
        display: block;
    }

    .car-price-sec__switch-row {
        margin-top: 0;
        padding-bottom: 20px;

    }

    .price-switch__btn {
        font-size: 14px;
    }

    .single-car-swiper__slide-zoom {
        display: none;
    }

}

@media only screen and (max-width: 800px) {
    .car-hero-sec__slider-row {
        width: 2080px;
    }

    .single-car-swiper-button-next {
        left: calc(50% + 310px);
    }

    .single-car-swiper-button-prev {
        left: calc(50% - 360px);
    }




}

@media only screen and (max-width: 760px) {

    .car-hero-sec__price {

        .car-card__price {
            font-size: 14px;
        }

        .car-card__price-value {
            font-size: 20px;
        }
    }

    .car-simmilar-sec__cars-wrapper .car-card {
        width: 100%;
    }

    .car-card__price-old-price .car-card__price-value {
        font-size: 14px;
    }

    .car-card__price--sale-price-procent {
        right: -52px;
        top: 0px;
        font-size: 12px;
    }

    .car-hero-sec {
        padding-top: 90px;
        padding-bottom: 40px;

    }

    .car-hero-sec__title {
        display: block;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 1.3px;
        position: relative;
        margin-bottom: 0px;
        padding-bottom: 0;

        &::before {
            left: calc(50% - 25px);
            bottom: 0;
            top: auto;
            opacity: 0;
            width: 0;
            opacity: 0;
        }
    }

    .car-hero-sec__price {
        justify-content: center;
        display: none;

    }

    .car-hero-sec__slider-wrapper {
        margin-top: 15px;
    }

    .car-hero-sec__slider-row {
        width: 1050px;
        transform: translateX(0px);
    }

    .car-hero-sec__slider-wrapper {
        height: 250px;
    }

    .single-car-swiper__slide-img-picture {
        height: 250px;
    }

    .single-car-swiper__slide-zoom {
        width: 30px;
        height: 30px;
        right: 15px;
        bottom: 15px;
        border-radius: 6px;
        background: rgba(93, 115, 110, 0.70);
        opacity: 1;

        svg {
            width: 16px;
        }
    }



    .char-full {
        width: 50%;
    }

    .char-full__icon-wrapper {
        width: 50px;
        height: 50px;

        &:before {
            width: 48px;
            height: 48px;
        }
    }

    .char-full__data {
        width: calc(100% - 50px);
        margin-left: 0;
        padding-left: 15px;
    }

    .car-price-sec {
        .header-row-sec {
            .btnV1 {
                display: none;
            }
        }

    }



    .price-switch__btn {
        margin-right: 0;
        width: calc(33.33% - 3px);
        font-size: 12px;
        padding: 10px 0;

    }

    .price-table__col {
        width: 100%;
        margin-bottom: 10px;
    }

    .price-table__el {
        height: 50px;
        text-align: left;
        justify-content: flex-start;
        padding-left: 25px;
        padding-right: 25px;
    }

    .dop-services-price__name {
        width: 65%;
        font-size: 12px;
    }

    .dop-services-price__value {
        width: 35%;
    }

    .dop-services-price__row {
        padding: 20px 0;
    }

    .car-price-sec__btn-mob {
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
    }



    .car-about-sec__info-wrapper {
        margin-top: 35px;
    }

    .info-data-row {
        padding-left: 0;
    }

    .car-about-sec {
        .sec-title--left-mod {
            padding-bottom: 0;
            padding-left: 45px;
            text-align: left;

            &::before {
                left: 0;
                bottom: auto;
                top: calc(50% - 1px);
                width: 30px;
            }
        }
    }



    .car-about-sec {
        padding-bottom: 80px;
    }

    .car-char-full-sec__row-counter {
        display: none;
    }

    .car-char-full-sec__row {
        flex-wrap: wrap;
        padding: 15px 0;
    }

    .car-char-full-sec__row-name-text {
        width: 100%;
        text-align: center;
    }

    .car-char-full-sec__row-name {
        width: 100%;
        margin-bottom: 15px;
    }

    .car-char-full-sec__value {
        width: 100%;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .car-char-full-sec__wrapper {
        margin-top: 35px;
    }

    .car-simmilar-sec {
        .header-row-sec {
            .btnV1 {
                display: none;
            }
        }
    }

    .car-simmilar-sec__cars-wrapper {
        margin-top: 35px;
    }



    .car-simmilar-sec__bob-btn {
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
    }

    .price-table__el-value-new-price-sale-procent {
        display: block;
    }



    .price-table__col {
        margin-right: 0;
        margin-left: 0;
    }

    .price-table__el {
        height: auto;
        min-height: 50px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .single-car-swiper-button {
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
    }

    .single-car-swiper-button-next {
        left: calc(50% + 120px);
    }

    .single-car-swiper-button-prev {
        left: calc(50% - 160px);
    }

    .single-car-swiper__slide-zoom {
        display: none;
    }

    .price-table-pc-ipad-wrapper {
        display: none;
    }

    .car-price-sec {
        .header-row-sec {
            display: none;
        }
    }

    .price-table-mob-wrapper {
        display: block;
        position: relative;

        height: 110px;
        width: 100%;

    }

    .car-price-sec__switch-row {
        padding-bottom: 20px;
        margin-top: 0px;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .car-page-price-char-wraper {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        overflow: hidden;
    }

    .car-char-sec {
        width: 100%;
        order: 2;
        padding-bottom: 80px;
    }

    .car-price-sec {
        width: 100%;
        order: 1;
    }

}

@media only screen and (max-width: 370px) {
    .price-switch__btn {
        font-size: 11px;
    }

    .car-hero-sec__title {
        font-size: 22px;
    }

    .car-hero-sec__slider-row {
        width: 960px;
        transform: translateX(0px);
    }

    .single-car-swiper-button {
        width: 30px;
        top: calc(50% - 15px);
        height: 30px;

        svg {
            width: 20px;
        }
    }

    .single-car-swiper-button-prev {
        left: calc(50% - 150px);
    }

    .car-hero-sec {
        padding-bottom: 20px;
    }

    .car-price-sec__switch-row {
        padding-bottom: 10px;
    }

    .dop-services-price__name {
        font-size: 11px;
    }

    .dop-services-price__value {
        font-size: 12px;
    }

    .char-full__icon-wrapper {
        width: 32px;
        height: 32px;

        &::before {
            width: 30px;
            height: 30px;
        }

        svg {
            width: 18px;
        }
    }

    .char-full__data {
        width: calc(100% - 32px);
        padding-left: 10px;
    }

    .char-full__title {
        font-size: 10px;
        display: none;
    }

    .char-full__value {
        font-size: 12px;
    }

    .car-price-sec {
        padding-bottom: 40px;
    }

    .car-char-sec {
        padding-bottom: 40px;
    }

    .car-char-full-sec__value {
        font-size: 14px;
    }

    .car-char-full-sec__row-name-text {
        font-size: 12px;
    }

    .car-simmilar-sec__bob-btn {
        margin-top: 20px;
    }

    .car-char-full-sec {
        padding-bottom: 60px;
    }

    .car-adv-sec {
        padding-bottom: 80px;
    }
}