.certificates-hero-sec {
    padding-top: 270px;
    padding-bottom: 180px;
}

.certificates-catalog-sec {
    padding-bottom: 150px;
}

.certificates-catalog-sec__wrapper {
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    width: calc(100% + 44px);
    margin-left: -22px;
}

.certeficat-card {
    width: calc(33.33% - 44px);
    margin: 44px 22px 0 22px;
    border-radius: 15px;
    height: 320px;
    position: relative;
    padding: 2px;
    transition: all ease 0.5s;

    &::before {
        width: 100%;
        height: 100%;
        border-radius: 15px;
        background: linear-gradient(114deg, #F0C883 0%, #7F5B37 102.05%);
        position: absolute;
        left: 0;
        top: 0;
        content: "";
        opacity: 0.3;
        transition: all ease 0.5s;
    }

    &:hover {
        transition: all ease 0.5s;

        &::before {
            opacity: 0.8;
            transition: all ease 0.5s;
        }

        .certeficat-card__btn-wrapper {
            transition: all ease 0.5s;
            opacity: 1;
        }

        .certeficat-card__btn {
            transform: translateY(0px);
            transition: all ease 0.5s;
            transition-delay: 0.2s;
        }
    }
}

.certeficat-card__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 5;
    background: $bgColor2;
    border-radius: 15px;
}

.certeficat-card__value {
    text-align: center;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    color: $gold1;
}

.certeficat-card__logo {
    position: absolute;
    width: 220px;
    display: block;
    left: 20px;
    top: 20px;
}

.certeficat-card__title {
    text-align: center;
    font-family: $titleFont3;
    position: absolute;
    width: 100%;
    bottom: 30px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 117%;
    /* 21.06px */
    letter-spacing: 1.98px;
    color: $white;
}

.certeficat-card__btn-wrapper {
    position: absolute;
    z-index: 15;
    width: calc(100% - 4px);
    height: calc(100% - 4px);
    left: 2px;
    top: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgColor2;
    border-radius: 15px;
    opacity: 0;
    transition: all ease 0.5s;

}

.certeficat-card__btn {
    transform: translateY(20px);
    transition: all ease 0.5s;

}

.certificates-about-sec {
    padding-bottom: 150px;
}

.certificates-about-sec__row {
    width: calc(100% + 70px);
    margin-left: -35px;
    display: flex;
    flex-wrap: wrap;
}

.certificates-about-sec__col {
    width: calc(33.333% - 70px);
    margin: 70px 35px 0 35px;
}