.contacts-sec {
    padding-top: 230px;
    padding-bottom: 120px;
}

.contacts-sec__title {
    font-size: 50px;
}

.contacts-sec__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;

    .social-contact-def {
        margin-right: 0;
    }
}

.social-contact-def--map {
    max-width: 325px;

    .social-contact-def__value {
        font-size: 16px;
        margin-bottom: 0;
        line-height: 1.4;
    }
}

.contacts-sec__social-row {
    display: flex;
    align-items: center;

    .social-contact-def {
        max-width: 280px;
        margin-left: 22px;

        &:first-child {
            margin-left: 0;
        }
    }

    .social-contact-def__subvalue {
        font-size: 10px;
    }
}

.contacts-sec__map-wrapper {
    margin-top: 120px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.30);
    width: 100%;
    padding: 1px;
    background: linear-gradient(180deg, rgba(240, 200, 131, 0.30) 0%, rgba(127, 91, 55, 0.30) 100%);

}

.contacts-sec__map-wrapper-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $bgColor2;
}

.contacts-sec__map {
    width: 985px;
    height: 560px;
}

.contacts-sec__form {
    width: calc(100% - 985px);
    padding: 0 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts-sec__form-subtitle {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    margin-top: 24px;
    color: $grey3;
    margin-bottom: 25px;
}

.contacts-sec__form-inp-wrapper {
    input {
        padding: 25px 0;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: 0.9px;
        background: none;
        border: none;
        width: 100%;
        border-bottom: solid 1px $grey3;
        font-family: $mainFont;
        color: $white;
        transition: all ease 0.3s;

        &::placeholder {
            color: $grey3;
        }

        &:hover {
            color: $white;
            border-bottom: solid 1px $white;
            transition: all ease 0.3s;
        }
    }
}

.contacts-sec__form-btn-wrapper {
    margin-top: 50px;
}

.y-map__marker-wrapper {
    position: relative;
    width: 1px;
    height: 1px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        position: absolute;
        bottom: 0;
        display: block;

    }
}