.doc-sec {
    padding-top: 200px;
    padding-bottom: 130px;
}

.doc-sec__title {
    font-size: 40px;
}

.doc-sec__text-wrapper {
    margin-top: 70px;

    p {
        text-align: justify;
    }
}

@media only screen and (max-width: 1380px) {
    .doc-sec__title {
        font-size: 35px;


        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 990px) {
    .doc-sec__title {
        font-size: 30px;
    }

    .doc-sec {
        padding-top: 160px;
        padding-bottom: 70px;
    }
}