.doc-sec {
    padding-top: 200px;
    padding-bottom: 130px;
}

.doc-sec__title {
    font-size: 40px;
}

.doc-sec__text-wrapper {
    margin-top: 70px;

    p {
        text-align: justify;
    }
}

@media only screen and (max-width: 1380px) {
    .doc-sec__title {
        font-size: 35px;


        &::before {
            opacity: 0;
        }

        &::after {
            opacity: 0;
        }
    }
}

@media only screen and (max-width: 990px) {
    .doc-sec__title {
        font-size: 30px;
    }

    .doc-sec {
        padding-top: 160px;
        padding-bottom: 70px;
    }
}

@media only screen and (max-width: 760px) {
    .doc-sec {
        padding-top: 120px;
        overflow: hidden;
    }

    .doc-sec__title {
        font-size: 24px;
        padding-bottom: 22px;
        position: relative;

        &::before {
            opacity: 1;
            bottom: 0;
            width: 50px;
            position: absolute;
            left: calc(50% - 25px);
            top: auto;
        }
    }

    .doc-sec__text-wrapper {
        margin-top: 35px;
    }
}