.error-404-sec {
    padding-top: 240px;
    padding-bottom: 180px;

    .header-row-sec-v2 {
        margin-top: 124px;
    }

}

.error-404-sec__btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.error-404-sec__img-wrapper {
    display: flex;
    justify-content: center;
}

.error-404-sec__img {
    max-width: 525px;
    display: block;
}

@media only screen and (max-width: 1380px) {
    .error-404-sec__img {
        width: 400px;
    }

    .error-404-sec .header-row-sec-v2 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 990px) {
    .error-404-sec__img {
        width: 400px;
    }

    .error-404-sec .header-row-sec-v2 {
        margin-top: 100px;
    }
}

@media only screen and (max-width: 760px) {
    .error-404-sec__img {
        width: 100%;
    }

    .error-404-sec {
        padding-top: 180px;
        padding-bottom: 140px;
    }

    .error-404-sec__btn-row {
        margin-top: 50px;
    }

    .error-404-sec .header-row-sec-v2 {
        margin-top: 60px;
    }
}