.error-404-sec {
    padding-top: 240px;
    padding-bottom: 180px;

    .header-row-sec-v2 {
        margin-top: 124px;
    }

}

.error-404-sec__btn-row {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.error-404-sec__img-wrapper {
    display: flex;
    justify-content: center;
}

.error-404-sec__img {
    max-width: 525px;
    display: block;
}