// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url("@/assets/fonts/RFDewiExpanded/stylesheet.scss");
@import url("@/assets/fonts/TT_Ricordi_Allegria_Trial/style.css");
// @import url("@/assets/fonts/sknigarrus/style.scss");