.footer {
    background: $bgColor3;
}

.footer__top {
    padding-top: 60px;
    padding-bottom: 60px;

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}

.footer__logo {
    display: block;
    width: 286px;
}

.footer__logo-img {
    display: block;
    width: 100%;
}

.footer__firm-text {
    margin-top: 36px;
    max-width: 450px;
    color: #71777A;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
}

.footer__top-right {
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
}

.footer__col {
    margin-left: 100px;

    &:first-child {
        margin-left: 0;
    }
}

.footer__col-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.8px;
    color: $white;
    margin-bottom: 24px;
}

.footer__nav-ul-element {
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    .router-link-exact-active {
        color: $white;
    }
}

.footer__nav-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
    color: $grey1;
    transition: all ease 0.3s;

    &:hover {
        transition: all ease 0.3s;
        color: $white;
    }
}

.footer__contacts-element {
    display: flex;
    align-items: center;
    max-width: 260px;
    margin-bottom: 15px;

    &:last-child {
        margin-bottom: 0;
    }

    .contact-link {
        width: 40px;
        height: 40px;

        svg {
            width: auto;
            height: auto;
            max-width: 14px;
            max-height: 14px;
        }
    }
}

.footer__contacts-element-value {
    width: calc(100% - 40px);
    padding-left: 12px;
}

.footer__contacts-element-value-main {
    color: $white;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    display: block;
    line-height: 1.2;
}

.footer__contacts-element-value-main-dop {
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
    /* 12px */

    display: block;
    color: $grey1;
}

.footer__col--help {
    .footer__contacts-element {
        .contact-link {


            svg {
                width: 19px;
                height: auto;
                max-width: 19px;
                max-height: 19px;
            }
        }
    }
}

.footer__social-wrapper {
    margin-top: 30px;
}

.footer__social-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $white;
    letter-spacing: 1.4px;
}

.footer__social-row {
    display: flex;
    margin-top: 20px;

    .contact-link {
        margin-right: 15px;
    }
}

.footer__down {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 25px 0;
        border-top: solid 1px $green1;
    }
}

.footer__down-nav-ul {
    display: flex;
}

.footer__down-nav-list-element {
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    .router-link-exact-active {
        color: $white;
    }
}

.footer__down-nav-link {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.44px;
    text-decoration-line: underline;
    color: $grey1;
    transition: all ease 0.3s;

    &:hover {
        color: $white;
        transition: all ease 0.3s;
    }
}

.footer__developer {
    font-family: $titleFont;
    color: $grey1;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.64px;

    a {
        color: $gold1;
        text-decoration: underline;
        transition: all ease 0.3s;

        &:hover {
            color: $white;
            transition: all ease 0.3s;
        }
    }
}

@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1580px) {
    .footer__firm-text {
        max-width: 380px;
    }
}

@media only screen and (max-width: 1380px) {
    .footer__col {
        margin-left: 40px;
    }

    .footer__col-title {
        font-size: 16px;
    }

    .footer__nav-link {
        font-size: 13px;
    }

    .footer__contacts-element-value-main {
        font-size: 13px;
    }

    .footer__firm-text {
        max-width: 280px;
        font-size: 14px;
    }

    .footer__logo {
        max-width: 250px;
    }

    .footer__col {
        width: 210px;
    }

    .footer__top {
        padding: 40px 0;
    }

    .footer__down .container {
        padding: 20px 0;
    }
}

@media only screen and (max-width: 990px) {
    .footer__top .container {
        flex-wrap: wrap;
    }

    .footer__top-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .footer__firm-text {
        max-width: 100%;
        text-align: center;
        margin-top: 20px;
    }

    .footer__logo {
        margin: 0 auto;
    }

    .footer__col {
        width: calc(33.333% - 15px);
        margin-left: 0;
    }

    .footer__top-right {
        justify-content: space-between;
    }

}

@media only screen and (max-width: 760px) {
    .footer__top {
        padding: 40px 0;
    }

    .footer__logo {
        width: 210px;
        margin: 0;

    }

    .footer__firm-text {
        margin-top: 25px;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
        text-align: left;
    }

    .footer__top-left {
        margin-bottom: 40px;
    }

    .footer__top-right {
        padding-top: 0;
        flex-wrap: wrap;
    }

    .footer__col {
        width: 100%;
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .footer__col-title {
        margin-bottom: 20px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.92px;
    }

    .footer__nav-ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .footer__nav-ul-element {
        width: calc(50%);
        font-size: 12px;
        line-height: normal;
        letter-spacing: 1.44px;
        margin-bottom: 15px;
    }

    .footer__contacts-element-value-main {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
    }

    .contact-link__wrapper img {
        width: auto;
        max-width: 15px;
        max-height: 15px;
    }

    .footer__contacts-element-value-main-dop {
        margin-top: 6px;
    }

    .footer__social-wrapper {
        margin-top: 40px;
    }

    .footer__down .container {
        flex-wrap: wrap;
        padding: 25px 0;
    }

    .footer__down-nav-ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .footer__down-nav-list-element {
        margin: 0 0 10px 0;
        width: 100%;

        &:last-child {
            margin-bottom: 0;
        }

        text-align: center;
    }

    .footer__down-nav-link {
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 1.44px;
    }

    .footer__developer {
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }
}