.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all ease 0.5s;
    padding-bottom: 25px;
}

.header--fixed {
    background: $bgColor2;
    padding-bottom: 15px;
    top: -100px;

    .header__nav-list-link {
        padding-top: 35px;
    }

    .header__right {
        padding-top: 15px;
    }

    .header__logo-img {
        width: 250px;
    }
}

.header--show {
    position: fixed;
    top: 0;

}

.header__container {
    margin: 0 auto;
    width: 1660px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.header__left {
    position: relative;
    margin-top: 22px;
}

.header__logo {
    width: 286px;
    display: block;

}

.header__logo-img {
    width: 100%;
    display: block;
    transition: all ease 0.3s;

}

.header__time-work {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1.44px;
    color: $grey1;
    position: absolute;
    top: 65px;
    right: 24px;
    display: none;
}

.header__nav-list {
    display: flex;
}

.header__nav-list-element {
    margin: 0 16px;

    .router-link-exact-active {
        color: $white;

        &:before {
            color: $white;
            width: 100%;
        }
    }
}

.header__nav-list-link {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.68px;
    color: $grey1;
    transition: all ease 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 42px;

    &:hover {
        color: $white;
        transition: all ease 0.3s;
    }

    &:before {
        width: 0;
        height: 1px;
        background: none;
        transition: all ease 0.3s;
        content: "";
        background: $gold1;
        position: absolute;
        top: 0;
    }
}



.header__right {
    display: flex;
    padding-top: 26px;
    align-items: center;
    transition: all ease 0.3s;
}

.header__yandex-rait {
    position: relative;

    svg {
        display: block;
    }
}

.header__yandex-rait-value {
    font-family: $subFont;
    color: #141414;
    position: absolute;
    z-index: 5;
    font-size: 12px;
    top: 33px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.header__contacts {
    display: flex;
    margin-left: 45px;

    .contact-link {
        margin-left: 15px;

        &:first-child {
            margin-left: 0;
        }
    }
}

.contact-link {
    width: 44px;
    height: 44px;
    display: block;
    border-radius: 100px;
    padding: 1px;
    background: linear-gradient(180deg, #EEC681 0%, #7F5B37 100%);
    transition: all ease 0.3s;
    // &:hover {
    //     .contact-link__wrapper {
    //         background: $white;
    //     }
    // }

    &:hover {
        transform: scale(1.1);
        transition: all ease 0.3s;
    }
}

.contact-link__wrapper {
    background: $bgColor2;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    svg {
        display: block;
        width: 19px;
        height: auto;
    }

    img {
        display: block;
        width: 19px;
        height: auto;
    }


}

.burger-meny {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    border: 2px solid rgba(243, 200, 132, 0.35);
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;

    &.active {
        border: solid 2px $gold1;

        .burger-meny__line--nb-1 {
            top: auto;
            transform: rotate(45deg);
        }

        .burger-meny__line--nb-2 {
            bottom: auto;
            transform: rotate(-45deg);
        }
    }
}

.burger-meny__line {
    width: 26px;
    height: 2px;
    border-radius: 10px;
    background: $white;
    position: absolute;
    transition: all ease 0.3s;
}

.burger-meny__line--nb-1 {
    top: 18px;
}

.burger-meny__line--nb-2 {
    bottom: 18px;
}

.burger-meny {
    display: none;


}

.header__container-main {
    position: relative;
    z-index: 20;
}

.mob-menu {
    width: 350px;
    height: 400px;
    position: fixed;
    z-index: 10;
    background: $bgColor2;
    right: 40px;
    top: 15px;
    border-radius: 15px;
    transition: all ease 0.5s;
    padding-top: 65px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);

    .mob-menu__nav-list-element {
        opacity: 1;
        transform: translateY(0px);
    }

    .mob-menu__down-row {
        transform: translateY(0px);
        opacity: 1;
    }
}

.mob-menu__wrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.mobact-enter-active,
.mobact-leave-active {

    width: 0;
    height: 0;

    .mob-menu__nav-list-element {
        opacity: 0;
        transform: translateY(-5px);
    }

    .mob-menu__down-row {
        transform: translateY(-5px);
        opacity: 0;
    }
}

.mobact-enter-from,
.mobact-leave-to {
    opacity: 0;
    width: 0;
    height: 0;
    transition: all ease 0.5s;

    .mob-menu__nav-list-element {
        opacity: 0;
        transform: translateY(-5px);
    }

    .mob-menu__down-row {
        transform: translateY(-5px);
        opacity: 0;
    }
}

.mob-menu__nav-list-element {
    transition: all ease 0.3s;
    transition-delay: 1s;
    opacity: 0;
    transform: translateY(-5px);

    &:nth-child(1) {
        transition-delay: 0.5s;
    }

    &:nth-child(2) {
        transition-delay: 0.6s;
    }

    &:nth-child(3) {
        transition-delay: 0.7s;
    }

    &:nth-child(4) {
        transition-delay: 0.8s;
    }

    &:nth-child(5) {
        transition-delay: 0.9s;
    }

    &:nth-child(6) {
        transition-delay: 1.0s;
    }
}

.mob-menu__nav-list-link {
    border-bottom: solid 1px rgba(243, 200, 132, 0.1);
    width: 100%;
    padding: 10px 30px;
    display: block;
    color: $grey1;
    text-transform: uppercase;
    font-size: 14px;
    transition: all ease 0.3s;

    &.router-link-active {
        padding-left: 55px;
        position: relative;
        display: flex;
        align-items: center;
        color: $white;

        &::before {
            width: 6px;
            height: 6px;
            background: $gold1;
            border-radius: 10px;
            left: 30px;
            content: "";
            position: absolute;
        }
    }


}

.mob-menu__down-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 10px 30px;
    transition: all ease 0.5s;
    transition-delay: 1.2s;
    transform: translateY(-5px);
    opacity: 0;

    .header__contacts {
        margin-left: 0;
    }
}

.blur-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 90;
    left: 0;
    top: 0;

    opacity: 1;
    transition: all ease 0.2s;
    backdrop-filter: blur(10px);
}

.blureffect-enter-active,
.blureffect-leave-active {
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: all ease 0.2s;

}

.blureffect-enter-from,
.blureffect-leave-to {
    opacity: 0;
    backdrop-filter: blur(0px);
    transition: all ease 0.2s;

}

@media only screen and (max-width: 1750px) {
    .header__container {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 1580px) {

    .header__logo {
        width: 270px;
    }

    .header__nav-list-element {
        margin: 0 10px;
    }

    .header__contacts {
        margin-left: 30px;
    }
}

@media only screen and (max-width: 1500px) {
    .header__nav-list-link {
        font-size: 13px;
    }
}

@media only screen and (max-width: 1380px) {
    .header {
        position: fixed;
    }

    .header__nav {
        display: none;
    }

    .header__right {
        .header__contacts {
            display: none;
        }

        .header__yandex-rait {
            display: none;
        }
    }

    .header__time-work {
        top: 55px;
        right: 15px;
    }

    .burger-meny {
        display: flex;
    }

    .hide-logo {

        .burger-meny {
            background: $bgColor2;
        }

        .header__left {
            transition: all ease 0.3s;
            transform: translateX(-300px);
            opacity: 0;
        }
    }

    .header__left {
        transition: all ease 0.3s;
    }

    .header {
        padding-bottom: 0;
    }

    .header--fixed {
        background: none;
        top: 0;
        padding-bottom: 0;

        .header__right {
            padding-top: 25px;
        }
    }

    .header--fixed .header__logo-img {
        width: 100%;
    }

}

@media only screen and (max-width: 990px) {}

@media only screen and (max-width: 760px) {
    .header__container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__left {
        margin-top: 0;
    }

    .header__logo {
        width: 210px;
    }

    .header__right {
        padding-top: 0;
    }

    .header {
        padding: 10px 0;
    }

    .header--fixed .header__right {
        padding-top: 0;
    }

    .mob-menu {
        right: 15px;
        top: 5px;
    }


}

@media only screen and (max-width: 460px) {
    .mob-menu {
        right: 15px;
        top: 5px;
        width: calc(100% - 30px);
    }
}

@media only screen and (max-width: 400px) {
    .mob-menu {
        right: calc(50% - 180px);
        top: 10px;
        width: 360px;
    }

    .header__container {
        padding-left: 0;
        padding-right: 0;
        width: 360px;
    }

}