.home-hero-sec {
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-hero-sec__bg-img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.home-hero-sec__header-shadow {
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 39.35%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 2;
    top: 0;
    left: 0;
}

.home-hero-sec__content {
    position: absolute;
    padding-top: 70px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero-sec__decor {
    width: 250px;
    margin: 0 auto;
}

.home-hero-sec__decor-img {
    width: 100%;
    display: block;
}

.home-hero-sec__title-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.home-hero-sec__decor-line {
    background: $white;
    border-radius: 2px;
    width: 384px;
    height: 2px;
}

.home-hero-sec__title {
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $white;
    font-family: $titleFont;
    width: 690px;
    text-align: center;

    b {
        font-weight: 600;
        color: $gold1;
    }
}

.home-hero-sec__play {
    border: solid 2px rgba(255, 255, 255, 0.20);
    width: 158px;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 123px auto;
    cursor: pointer;
    transition: all ease 0.3s;
    position: relative;

    &:hover {
        border: solid 2px rgba(255, 255, 255, 1);
        transition: all ease 0.3s;

        .home-hero-sec__play-wrapper {
            transform: scale(1.2);
            transition: all ease 0.3s;
            border: solid 10px $gold1;
        }

    }

    svg {
        display: block;
        transition: all ease 0.3s;
        position: absolute;
        z-index: 10;
    }
}

.home-hero-sec__play-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 10px rgba(255, 255, 255, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease 0.3s;
    position: absolute;


}

.home-hero-sec__text-wrapper {
    width: 100%;
}

.home-hero-sec__text {
    text-align: center;
    color: $white;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    /* 34.8px */
    letter-spacing: 1.2px;
    font-family: $subFont;
    max-width: 680px;
    margin: 0 auto;
}

.home-hero-sec__btn-row {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.home-category-sec {
    padding-top: 115px;
    padding-bottom: 180px;

    .header-row-sec {
        margin-bottom: 53px;
    }
}

.header-row-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-title {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1.35px;
    font-family: $titleFont;
    color: $white;
    line-height: 1;
    position: relative;
    text-transform: uppercase;


    b {
        font-weight: 600;
        color: $gold1;
        display: inline;
    }
}

.sec-title--left-mod {
    padding-left: 80px;

    &:before {
        width: 50px;
        height: 2px;
        background: $white;
        position: absolute;
        left: 0;
        content: "";
        top: 20px;
    }
}

.swipe-home-cat__wrapper {
    width: 100%;
    height: 290px;
    border: 1px solid rgba(243, 200, 132, 0.20);
    background: $bgColor2;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 25px 60px 25px;
    transition: all ease 0.3s;

    &:hover {
        border: 1px solid rgba(243, 200, 132, 0.69);
        transition: all ease 0.3s;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.50);


        .swipe-home-cat__title {
            transition: all ease 0.3s;
            color: $white;
        }

        .swipe-home-cat__img {
            transition: all ease 0.3s;
            transform: scale(1.05);
        }

        .swipe-home-cat__title-row {


            &::before {
                width: 34px;
                opacity: 1;
                transition: all ease 0.3s;
            }

            &::after {
                width: 34px;
                opacity: 1;
                transition: all ease 0.3s;
            }

        }
    }
}

.swipe-home-cat__img-wprapper {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipe-home-cat__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    transition: all ease 0.3s;
}

.swipe-home-cat__title-row {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: all ease 0.3s;

    &::before {
        width: 34px;
        height: 1px;
        background: $gold1;
        position: absolute;
        content: "";
        right: calc(100% - 34px);
        width: 0;
        opacity: 0;
        transition: all ease 0.3s;
    }

    &::after {
        width: 34px;
        height: 1px;
        background: $gold1;
        position: absolute;
        content: "";
        left: calc(100% - 34px);
        width: 0;
        opacity: 0;
        transition: all ease 0.3s;
    }

}

.swipe-home-cat__title {
    text-align: center;
    font-family: $subFont;
    color: $green2;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all ease 0.3s;
}

.swiper-def-ar {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    height: 70px;
    cursor: pointer;

    svg {
        display: block;
        z-index: 10;
        position: relative;
        transition: all ease 0.3s;
    }

    &:hover {
        .swiper-def-ar__circle {
            transform: scale(1.15);
            transition: all ease 0.3s;

        }

        svg {
            transform: translateX(5px);
            transition: all ease 0.3s;
        }
    }
}

.swiper-def-ar__circle {
    position: absolute;
    border-radius: 70px;
    border: 1px solid #707070;
    background: rgba(217, 217, 217, 0.00);
    width: 70px;
    height: 70px;
    transition: all ease 0.3s;
}

.swiper-def-ar--next {
    .swiper-def-ar__circle {
        right: 0;
    }
}

.home-news-sec__slider-row {
    position: relative;
}

.home-news-sec__slider-row-control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.slider-counter__total {
    color: $grey3;
    font-family: $titleFont;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.slider-counter__current {
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $white;
    font-family: $titleFont;
}

.home-cars-sec {
    padding-bottom: 150px;
}

.header-row-sec__cars-wrapper {
    .car-card {
        margin-top: 70px;
    }
}

.cars-wrapper-rv {
    .car-card {
        &:nth-child(even) {
            .car-card__wrapper {
                padding: 20px 20px 20px 45px;
            }

            .car-card-slider-wrapper {
                order: 2;
            }

            .car-card__data {
                padding-left: 0;
                padding-right: 45px;
            }
        }
    }
}

.header-row-sec-v2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-row-sec-v2__decor {
    margin: 0 auto;
    width: 193px;
    display: block;

}

.header-row-sec-v2__decor-wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.sec-title--center-mod {

    margin: 0 auto;

    &:before {
        width: 50px;
        height: 2px;
        background: $white;
        position: absolute;
        left: -80px;
        content: "";
        top: 20px;
    }

    &:after {
        width: 50px;
        height: 2px;
        background: $white;
        position: absolute;
        right: -80px;
        content: "";
        top: 20px;
    }
}

.home-our-client-sec__slider-wrapper {
    margin-top: 70px;
}

.our-client-slider__slide-wrapper {
    border: 1px solid #534A3C;
    background: $bgColor2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
    padding: 10px;
    padding-bottom: 24px;
}

.our-client-slider__slide-img {
    width: 100%;
    height: 320px;
    display: block;
    object-fit: cover;
}

.our-client-slider__slide-data {
    margin-top: 15px;
}

.our-client-slider__slide-name {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $gold1;
    font-family: $titleFont;
    padding-left: 35px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        width: 20px;
        height: 2px;
        background: $white;
        content: "";
        border-radius: 2px;
        position: absolute;
        left: 0;
    }
}

.our-client-slider__slide-description {
    padding-left: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    color: $grey2;
    font-family: $subFont;

}

.home-our-client-sec {
    padding-bottom: 130px;
}

.clients-about-us {
    padding-bottom: 150px;
}

.clients-about-us__slider-wrapper {
    margin-top: 70px;
}

.clients-about-us-slider__slide-wrapper {
    border: 2px solid #534A3C;

    background: $bgColor2;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.clients-about-us-slider__slide-photo {
    width: 160px;
    display: block;
    object-fit: cover;
    height: 210px;
}

.clients-about-us-slider__slide-data {
    width: calc(100% - 160px);
    padding-left: 30px;
}

.clients-about-us-slider__slide-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey2;
    font-family: $subFont;
}

.clients-about-us-slider__slide-read-more-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: $subFont;
    cursor: pointer;
    transition: all ease 0.3s;

    span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $grey3;
        margin-right: 10px;
        transition: all ease 0.3s;
    }

    svg {
        display: block;

        path {
            transition: all ease 0.3s;
        }

    }

    &:hover {
        transition: all ease 0.3s;

        span {
            color: $white;
            transition: all ease 0.3s;

            svg {
                path {
                    fill: $white;
                    transition: all ease 0.3s;
                }
            }
        }
    }
}

.clients-about-us-slider__slide-client-data {
    width: 100%;
    padding-left: 190px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-about-us-slider__slide-client-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $gold1;
    font-family: $titleFont;
    padding-left: 34px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background: $gold1;
        position: absolute;
        left: 0;
        content: "";
    }
}

.clients-about-us-slider__slide-client-description {
    color: $grey3;
    font-family: $subFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-top: 5px;
    padding-left: 34px;
}

.clients-about-us-slider__slide-client-data-resources {
    display: flex;
    align-items: center;
    border: solid 1px rgba(63, 79, 79, 0.73);
    padding: 7px 10px 7px 20px;
    border-radius: 100px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    transition: all ease 0.3s;

    svg {
        display: block;

        path {
            transition: all ease 0.3s;
        }
    }

    &:hover {
        border: solid 1px rgba(63, 79, 79, 1);
        transition: all ease 0.3s;

        .clients-about-us-slider__slide-client-data-resources-text {
            color: $white;
            transition: all ease 0.3s;
        }

        svg {
            path {
                stroke: $white;
                transition: all ease 0.3s;
            }
        }
    }
}

.clients-about-us-slider__slide-client-data-resources-text {
    font-size: 12px;
    font-weight: 500;
    font-family: $subFont;
    color: $grey3;
    margin-right: 13px;
    transition: all ease 0.3s;

}

.home-about-sec {
    padding-bottom: 150px;

    .header-row-sec-v2__decor-wrapper {
        display: none;
    }

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.home-about-sec__info {
    width: calc(100% - 740px);
    padding-right: 95px;
}

.home-about-sec__images {
    width: 740px;
}

.home-about-sec__adv-wrapper {
    padding-left: 84px;
    margin-top: 50px;
}

.adv-element {
    display: flex;
    align-items: flex-start;

    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.adv-element__icon-wrapper {
    background: linear-gradient(180deg, #99825B 0%, #513F2B 100%);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: block;
    padding: 1px;
}

.adv-element__icon-wrapper-contaier {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgColor;
}

.adv-element__icon {
    max-height: 30px;
    max-width: 30px;
    display: block;
}

.adv-element__data {
    width: calc(100% - 70px);
    padding-left: 30px;
    padding-top: 20px;
}

.adv-element__title {
    font-family: $titleFont;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 23px;
}

.adv-element__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey3;
    font-family: $subFont;
}

.home-about-sec__images-claster {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.home-about-sec__images-claster-col {
    width: calc(50% - 20px);
}

.home-about-sec__images-element {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    object-fit: cover;

    &:last-child {
        margin-bottom: 0;
    }
}

.home-about-sec__images-claster-col--left {
    .home-about-sec__images-element {
        &:nth-child(1) {
            height: 400px;
        }

        &:nth-child(2) {
            height: 220px;
        }
    }
}

.home-about-sec__images-claster-col--right {
    .home-about-sec__images-element {
        &:nth-child(1) {
            height: 355px;
        }

        &:nth-child(2) {
            height: 268px;
        }
    }
}

.home-about-sec__images-contacts-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.home-about-sec__images-contact-element {
    display: inline-block;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 26px */
    letter-spacing: 0.52px;
    color: $white;
    font-family: $titleFont;
    transition: all ease 0.3s;

    &:hover {
        color: $gold1;
        transition: all ease 0.3s;
    }
}

.home-about-sec__images-social-row {
    display: flex;
    align-items: center;

    .contact-link {
        width: 70px;
        height: 70px;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }

    }

    .contact-link__wrapper {
        background: $bgColor;

        svg {
            width: 24px;
            height: auto;
        }

        img {
            width: 24px;
            height: auto;
            display: block;
        }
    }
}

.home-faq-sec {
    padding-bottom: 150px;
}

.faq-wrapper {
    margin-top: 70px;
}

.faq-element {
    border-bottom: solid 1px $green1;

    &:first-child {
        border-top: solid 1px $green1;
    }

    &:hover {
        .faq-element__title {
            transform: translateX(10px);
            transition: all ease 0.3s;
            color: $white;
        }
    }
}

.faq-element__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 25px;
    cursor: pointer;
}

.faq-element__title {
    width: calc(100% - 110px);
    padding-left: 380px;
    transition: all ease 0.3s;
}

.faq-element__counter {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    color: $grey4;
    font-family: $subFont;
    transition: all ease 0.3s;
}

.faq-element__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: $grey2;
    line-height: normal;
}

.faq-element__btn {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid 1px $grey3;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;


    &:hover {
        transform: scale(1.05);
        background: $bgColor2;
        transition: all ease 0.3s;

        .faq-element__btn-el {

            transition: all ease 0.3s;
        }
    }
}

.faq-element__btn-el {
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: $gold1;
    position: absolute;
    transition: all ease 0.3s;
}

.faq-element__btn-el2 {
    transform: rotate(90deg);
}

.faq-element {
    &.active {
        .faq-element__btn-el1 {
            transform: rotate(90deg);
        }

        .faq-element__counter {
            color: $white;
        }

        .faq-element__title {
            color: $white;
        }

        &:hover {
            .faq-element__title {
                transform: translateX(0);
            }
        }
    }
}

.faq-element__text {
    padding-left: 415px;
    padding-right: 100px;
    color: $grey3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.faq-element__body {
    padding-bottom: 30px;
    padding-top: 20px;
}

.home-form-sec {
    padding-bottom: 150px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .header-row-sec-v2__decor-wrapper {
        display: none;
    }
}

.form-sec__img-wrapper {
    border-radius: 485px;
    border: 1px solid rgba(243, 200, 132, 0.10);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    width: 465px;
    height: 465px;
    padding: 43px;
}

.form-sec__img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    display: block;
    border: 1px solid rgba(243, 200, 132, 0.20);
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
}

.form-sec__data {
    width: calc(100% - 465px);
}

.form-sec__body {
    padding-left: 80px;
    margin-top: 30px;
}

.form-sec__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: $grey3;
    line-height: 30px;
    max-width: 675px;
    font-family: $subFont;
}

.form-sec__contacts {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.social-contact-def {
    display: flex;
    align-items: center;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        .social-contact-def__icon {
            transform: scale(1.05);
            transition: all ease 0.3s;
        }

        .social-contact-def__value {
            color: $gold1;
            transition: all ease 0.3s;
        }

        .social-contact-def__subvalue {
            // color: $white;
            // transition: all ease 0.3s;
            // opacity: 0.7;
        }
    }
}

.social-contact-def__icon {
    background: linear-gradient(180deg, #99825B 0%, #513F2B 100%);
    padding: 1px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    transition: all ease 0.3s;
}

.social-contact-def__icon-wrapper {
    background: $bgColor2;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
    }

    img {
        display: block;
        max-width: 25px;
        max-height: 25px;
    }
}

.social-contact-def__info {
    padding-left: 20px;
    width: calc(100% - 70px);
}

.social-contact-def__value {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $white;
    margin-bottom: 12px;
    transition: all ease 0.3s;
}

.social-contact-def__subvalue {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $grey1;
    transition: all ease 0.3s;
}

.social-contact-def__extream {
    color: $grey1;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 10.8px */
    letter-spacing: 0.18px;
    margin-top: 14px;
}

.home-seo-sec {
    padding-bottom: 150px;
}

.seo-sec-type-1 {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.seo-sec-type-1__images {
    display: flex;
    justify-content: space-between;
    width: 740px;
}

.seo-sec-type-1__img {
    width: calc(50% - 20px);
    height: 350px;
    display: block;
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
}

.seo-sec-type-1__data {
    width: calc(100% - 740px);
    padding-right: 80px;
}

.seo-sec-type-1__title {
    font-size: 40px;
}

.seo-sec-type-1__text-container {
    margin-top: 20px;
    padding-left: 75px;
}

.seo-sec-type-1__read-more {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;

    &.active {
        .seo-sec-type-1__read-more-icon--line-2 {
            transform: rotate(0deg);
        }
    }

    &:hover {
        .seo-sec-type-1__read-more-icon {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }
}

.seo-sec-type-1__read-more-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: $grey2;
}

.seo-sec-type-1__read-more-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    border: 1px solid #707070;
    margin-left: 15px;
    transition: all ease 0.3s;
    position: relative;
    width: 35px;
    height: 35px;
}

.seo-sec-type-1__read-more-icon-line {
    width: 15px;
    height: 1px;
    border: 10px;
    background: $gold1;
    transition: all ease 0.3s;
    position: absolute;
}

.seo-sec-type-1__read-more-icon--line-2 {
    transform: rotate(90deg);
}

.seo-sec-type-1__text-wrapper {
    max-height: 215px;
    transition: all ease 0.5s;
    overflow: hidden;
}

.home-cars-sec__btn-all-cars-mob {
    display: none;
}

.header-row-sec-v2__decor-wrapper--mob {
    display: none;
}

.home-faq-sec__btn-mob {
    display: none;
}




swiper-container::part(pagination) {
    bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

swiper-container::part(bullet) {
    background-color: rgba(255, 255, 255, 0.40);
    opacity: 1;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    border-radius: 50%;
    transition: background-color 0.3s;
    cursor: pointer;
    transform: scale(1);
}

swiper-container::part(bullet-active) {
    background-color: #F1BD81;
    width: 8px;
    height: 8px;
}



.home-category-sec swiper-container::part(scrollbar) {
    display: none;
}




@media only screen and (max-width: 1750px) {
    .home-hero-sec__play {
        margin: 100px auto;
    }
}

@media only screen and (max-width: 1750px) and (max-height: 850px) {
    .home-hero-sec__play {
        margin: 80px auto;
    }

    .home-hero-sec__title {
        font-size: 45px;
    }

    .home-hero-sec__decor {
        width: 200px;
    }

    .home-hero-sec__title {
        width: 500px;
    }
}

@media only screen and (max-width: 1580px) {
    .home-hero-sec__title {
        font-size: 55px;
    }

    .home-hero-sec__decor-line {
        width: 350px;
    }

    .sec-title {
        font-size: 40px;
    }

    .home-category-sec {
        padding-top: 100px;
        padding-bottom: 150px;
    }

    .swipe-home-cat__wrapper {
        height: 250px;
        padding-bottom: 30px;
    }

    .car-card-slider-wrapper {
        width: 50%;
    }

    .car-card__data {
        width: 50%;
    }

    .our-client-slider__slide-img {
        height: 280px;
    }

    .home-about-sec__info {
        width: 50%;
        padding-right: 60px;
    }

    .home-about-sec__images {
        width: 50%;
    }

    .home-about-sec__images-claster-col--left {
        .home-about-sec__images-element {
            &:nth-child(1) {
                height: 300px;
            }
        }
    }

    .home-about-sec__images-claster-col--right {
        .home-about-sec__images-element {
            &:nth-child(1) {
                height: 250px;
            }
        }
    }

    .home-cars-sec {
        padding-bottom: 135px;
    }

    .clients-about-us {
        padding-bottom: 130px;
    }

    .home-about-sec {
        padding-bottom: 130px;
    }

    .home-faq-sec {
        padding-bottom: 130px;
    }

    .home-form-sec {
        padding-bottom: 130px;
    }



    .social-contact-def__value {
        font-size: 16px;
    }

    .form-sec__contacts {
        flex-wrap: wrap;
    }

    .form-sec__contacts {
        margin-top: 35px;
    }

    .social-contact-def {
        margin-bottom: 30px;
    }

    .seo-sec-type-1__images {
        width: 45%;
    }

    .seo-sec-type-1__img {
        height: 286px;
    }

    .seo-sec-type-1__data {
        width: 55%;
    }

    .sec-title {
        font-size: 35px;
    }

    .home-seo-sec {
        padding-bottom: 130px;
    }

    .faq-element__title {
        padding-left: 250px;
    }

    .faq-element__text {
        padding-left: 280px;
    }

    .adv-element__subtitle {
        font-size: 16px;
    }

    .car-card-slider__slide-img {
        height: 400px;
    }

    .car-card__title {
        font-size: 30px;
    }

    .car-card__category {
        font-size: 20px;
    }

    .car-card__characteristics {
        margin-top: 40px;
    }

    .car-card__price-value {
        font-size: 28px;
    }

    .sec-title--left-mod:before {
        top: 15px;
    }
}

@media only screen and (max-width: 1580px) and (max-height: 850px) {
    .home-hero-sec__play {
        margin: 60px auto;
    }

    .home-hero-sec__title {
        font-size: 45px;
    }

    .home-hero-sec__decor {
        width: 200px;
    }
}

@media only screen and (max-width: 1500px) {
    .home-hero-sec__title {
        font-size: 50px;
    }

    .home-hero-sec__decor {
        width: 200px;
    }

    .home-hero-sec__title-row {
        margin-top: 20px;
    }

    .home-hero-sec__title {
        width: 560px;
    }

    .home-hero-sec__decor-line {
        width: 290px;
    }

    .home-hero-sec__play {
        margin: 70px auto;
    }

    .car-card__title {
        font-size: 27px;
    }

    .car-card__data {
        padding-left: 30px;
    }

    .cars-wrapper-rv .car-card:nth-child(even) .car-card__data {
        padding-right: 30px;
    }

    .car-card__body {
        margin-top: 25px;
    }

    .car-card__price {
        font-size: 22px;
    }

    .car-card__price-value {
        font-size: 26px;
    }

    .car-card__characteristic {
        margin-right: 0;
    }

    .car-card__characteristics {
        justify-content: space-between;
    }

    .clients-about-us-slider__slide-text {
        font-size: 14px;
    }

    .clients-about-us-slider__slide-photo {
        order: 1;
        width: 100px;
        height: 100px;
        border-radius: 1000px;
    }

    .clients-about-us-slider__slide-client-data {
        order: 2;
        width: calc(100% - 100px);
        padding-left: 20px;
        padding-top: 0px;
        flex-wrap: wrap;
        height: 100px;
    }

    .clients-about-us-slider__slide-client-data-info {
        width: 100%;

    }

    .clients-about-us-slider__slide-client-data-resources {
        margin-left: 24px;
        margin-top: 15px;
        padding: 5px 5px 5px 12px;
    }


    .clients-about-us-slider__slide-data {
        order: 3;
        padding-left: 0;
        width: 100%;
        margin-top: 25px;
    }

    .clients-about-us-slider__slide-wrapper {
        align-items: flex-start;
    }

    .clients-about-us-slider__slide-client-name {
        font-size: 24px;
        line-height: 1;
    }

    .clients-about-us-slider__slide-client-description {
        font-size: 16px;
    }

    .clients-about-us-slider__slide-wrapper {
        height: 335px;
    }

    .home-about-sec__adv-wrapper {
        padding-left: 0;
    }

    .home-about-sec__images-contacts-row {
        margin-top: 50px;
        flex-wrap: wrap;
    }

    .home-about-sec__images-social-row {
        margin-top: 30px;
    }

    .faq-element__title {
        font-size: 18px;
        padding-left: 200px;
    }

    .faq-element__header {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .faq-element__counter {
        font-size: 20px;
    }

    .faq-element__btn {
        width: 60px;
        height: 60px;
    }

    .faq-element__btn-el {
        width: 25px;
    }

    .faq-element__text {
        padding-left: 235px;
    }

    .faq-wrapper {
        margin-top: 50px;
    }

    .adv-element__title {
        font-size: 24px;
        margin-bottom: 15px;
    }

    .clients-about-us__slider-wrapper {
        margin-top: 50px;
    }

    .home-our-client-sec__slider-wrapper {
        margin-top: 50px;
    }

    .car-card__header-text {
        padding-left: 25px;
    }

    .home-category-sec {
        padding-bottom: 135px;
    }

    .form-sec__img-wrapper {
        width: 430px;
        height: 430px;
    }

    .form-sec__subtitle {
        font-size: 18px;
    }

    .swipe-home-cat__title {
        font-size: 18px;
    }

    .swipe-home-cat__wrapper {
        height: 200px;
        padding: 30px;
    }

    .swiper-def-ar__circle {
        width: 50px;
        height: 50px;
    }

    .swiper-def-ar {
        width: 123px;
        height: 50px;

        svg {
            width: 100px;
        }
    }

    .home-news-sec__slider-row-control-wrapper {
        margin-top: 25px;
    }

    .slider-counter__current {
        font-size: 45px;
        line-height: 1;
    }

    .slider-counter__total {
        font-size: 30px;
    }

    .home-hero-sec__text {
        font-size: 20px;
    }

    .header-row-sec__cars-wrapper .car-card {
        margin-top: 50px;
    }

    .home-category-sec {
        padding-bottom: 100px;
    }

    .home-cars-sec {
        padding-bottom: 100px;
    }

    .home-our-client-sec {
        padding-bottom: 100px;
    }

    .clients-about-us {
        padding-bottom: 100px;
    }

    .home-hero-sec__title {
        font-size: 46px;
    }

    .home-faq-sec {
        padding-bottom: 100px;
    }

    .home-form-sec {
        padding-bottom: 100px;
    }

    .home-seo-sec {
        padding-bottom: 100px;
    }

    .car-card__wrapper {
        padding: 20px;
    }

    .cars-wrapper-rv .car-card:nth-child(even) .car-card__wrapper {
        padding: 20px;
    }

    .home-hero-sec {
        min-height: 750px;
        overflow: hidden;

    }

    .home-hero-sec__bg-img {
        height: 100%;
    }

    .home-hero-sec__play {
        width: 130px;
        height: 130px;
    }

    .home-hero-sec__play-wrapper {
        width: 80px;
        height: 80px;
    }

    .home-hero-sec__play svg {
        width: 37px;
    }
}

@media only screen and (max-width: 1380px) {
    .home-hero-sec__decor-line {
        width: 150px;
    }

    .home-about-sec {
        .container {
            flex-wrap: wrap;
        }

        .home-about-sec__info {
            width: 100%;
            padding-right: 0;
        }
    }

    .home-about-sec__images-claster {
        width: 100%;

    }

    .home-about-sec__images-claster-col {
        display: flex;
        justify-content: space-between;
        width: calc(50% - 10px);
    }

    .home-about-sec__images {
        width: 100%;
        margin-top: 60px;
    }

    .home-about-sec__images-claster-col--left .home-about-sec__images-element:nth-child(1) {
        width: calc(50% - 10px);
        height: 250px;
    }

    .home-about-sec__images-claster-col--left .home-about-sec__images-element:nth-child(2) {
        width: calc(50% - 10px);
        height: 250px;
    }

    .home-about-sec__images-claster-col--right .home-about-sec__images-element:nth-child(1) {
        width: calc(50% - 10px);
        height: 250px;
    }

    .home-about-sec__images-claster-col--right .home-about-sec__images-element:nth-child(2) {
        width: calc(50% - 10px);
        height: 250px;
    }

    .home-about-sec__adv-wrapper {
        padding-left: 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .adv-element {
        width: calc(50% - 25px);
        flex-wrap: wrap;
        justify-content: center;
    }

    .adv-element__data {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .home-about-sec {
        .header-row-sec-v2__decor-wrapper {
            display: block;
        }

        .sec-title {
            margin: 0 auto;
            width: auto;
            text-align: center;
            display: inline-block;
            padding-left: 0;

            &:before {
                width: 50px;
                height: 2px;
                background: $white;
                position: absolute;
                left: -80px;
                content: "";
                top: 20px;
            }

            &:after {
                width: 50px;
                height: 2px;
                background: $white;
                position: absolute;
                right: -80px;
                content: "";
                top: 20px;
            }
        }
    }

    .home-about-sec__info {
        display: flex;
        flex-wrap: wrap;
    }

    .home-about-sec__images-contacts-row {
        margin-top: 00px;
    }

    .home-category-sec {
        padding-bottom: 130px;
    }

    .home-our-client-sec {
        padding-bottom: 100px;
    }

    .clients-about-us {
        padding-bottom: 100px;
    }

    .faq-element__title {
        padding-left: 120px;
    }

    .faq-element__text {
        padding-left: 150px;
    }

    .form-sec {
        .sec-title {
            padding-left: 0;

            &:before {
                opacity: 0;
            }
        }
    }

    .form-sec__body {
        padding-left: 0;
    }

    .form-sec__subtitle {
        font-size: 18px;
    }

    .home-form-sec {
        padding-bottom: 100px;
    }

    .home-seo-sec {
        .sec-title {
            padding-left: 0;

            &:before {
                opacity: 0;
            }
        }
    }

    .seo-sec-type-1__text-container {
        padding-left: 0;
    }

    .home-seo-sec {
        padding-bottom: 100px;
    }

    .car-card__category {
        font-size: 16px;
    }

    .car-card__title {
        font-size: 23px;
    }

    .car-card__header-text {
        padding-left: 20px;
    }

    .car-card__price {
        font-size: 18px;
    }

    .car-card__price-value {
        font-size: 23px;
    }

    .car-card__body {
        margin-top: 15px;
        padding-left: 20px;
    }

    .car-card__description {
        font-size: 14px;
        margin-top: 20px;
    }

    .car-card__characteristic-value {
        font-size: 10px;
    }

    .car-card__characteristic {
        margin-right: 25px;

        &:last-child {
            margin-right: 0;
        }
    }

    .car-card__wrapper {
        padding: 20px;
    }

    .cars-wrapper-rv .car-card:nth-child(even) .car-card__wrapper {
        padding: 20px;
    }

    .home-cars-sec {
        padding-bottom: 100px;
    }

    .home-our-client-sec__slider-wrapper {
        margin-top: 50px;
    }

    .header-row-sec__cars-wrapper .car-card {
        margin-top: 50px;
    }

    .home-category-sec {
        padding-bottom: 100px;
    }

    .home-category-sec .header-row-sec {
        margin-bottom: 50px;
    }

    .clients-about-us__slider-wrapper {
        margin-top: 50px;
    }

    .faq-wrapper {
        margin-top: 50px;
    }

    .seo-sec-type-1__img {
        width: calc(50% - 10px);
    }


    .home-about-sec {
        padding-bottom: 100px;
    }

    .home-faq-sec {
        padding-bottom: 100px;
    }

    .clients-about-us-slider__slide-wrapper {
        height: auto;
    }

    .faq-element__header {
        padding-right: 0;
    }

    .seo-sec-type-1__read-more-text {
        font-size: 14px;
    }

    .swipe-home-cat__wrapper {
        &:hover {
            border: 1px solid rgba(243, 200, 132, 0.2);

            .swipe-home-cat__img {
                transform: scale(1);
            }

            .swipe-home-cat__title-row {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 0;
                }
            }
        }
    }

}


@media only screen and (max-width: 990px) {
    .home-hero-sec__decor {
        width: 150px;
    }

    .home-hero-sec__title {
        width: 500px;
        font-size: 40px;
    }

    .home-hero-sec__decor-line {
        width: 125px;
    }

    .home-hero-sec__text {
        font-size: 18px;
    }

    .home-hero-sec__play {
        width: 130px;
        height: 130px;
    }

    .home-category-sec {
        padding-top: 70px;
        padding-bottom: 90px;
    }

    .sec-title {
        font-size: 26px;

    }

    .sec-title--left-mod {
        padding-left: 40px;

        &:before {
            width: 30px;
            top: 12px;
        }
    }

    .sec-title--center-mod {

        &:after {
            width: 30px;
            top: 12px;
            right: -50px;
        }

        &:before {
            width: 30px;
            top: 12px;
            left: -50px;
        }

    }

    .swipe-home-cat__title {
        font-size: 18px;
    }

    .swipe-home-cat__title-row {
        margin-top: 20px;
    }

    .swipe-home-cat__img-wprapper {
        height: 100px;
    }

    .swipe-home-cat__wrapper {
        height: 180px;
        padding: 30px 20px 20px 20px;
    }

    .home-news-sec__slider-row-control-wrapper {
        margin-top: 25px;
    }

    .swiper-def-ar svg {
        width: 80px;
    }

    .swiper-def-ar__circle {
        width: 50px;
        height: 50px;
    }

    .swiper-def-ar {
        width: 103px;
        height: 50px;
    }

    .slider-counter__total {
        font-size: 25px;
    }

    .slider-counter__current {
        font-size: 40px;
    }

    .header-row-sec__cars-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 40px;

        .car-card {

            margin-top: 0;
            margin-bottom: 25px;
        }

    }



    .car-card {
        width: calc(50% - 12px);

    }

    .car-card__wrapper {
        flex-wrap: wrap;
        padding: 10px;
        padding-bottom: 30px;
        height: 100%;
    }

    .car-card-slider-wrapper {
        width: 100%;
    }

    .car-card__data {
        width: 100%;
        padding-left: 0;
        padding-top: 15px;

    }

    .car-card__characteristic {
        margin-right: 50px;
    }

    .car-card__characteristic-value {
        font-size: 12px;
    }

    .cars-wrapper-rv .car-card:nth-child(even) .car-card__data {
        order: 2;
        padding-top: 15px;
        padding-right: 0;
    }

    .car-card-slider__slide-img {
        height: 235px;
    }

    .cars-wrapper-rv .car-card:nth-child(even) .car-card__wrapper {
        padding: 10px;
        padding-bottom: 30px;

    }

    .car-card__title {
        font-size: 20px;
        width: 100%;
    }

    .car-card__category {
        font-size: 14px;
    }

    .car-card__header-ar {
        display: none;
    }

    .car-card__header-text {
        width: 100%;
    }

    .car-card__price {
        font-size: 12px;
    }

    .car-card__price-value {
        font-size: 20px;
    }



    .car-card__price-row-tab {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        order: 1;

        .car-card__header-ar {
            display: flex;
            margin-top: 0;
        }
    }

    .car-card__body {
        margin-top: 15px;
        display: flex;
        flex-direction: column;

    }

    .car-card__characteristics {
        order: 2;
        margin-top: 30px;
        width: 100%;
        justify-content: space-between;
    }

    .car-card__description {
        order: 3;
        margin-top: 25px;
    }

    .car-card__characteristic-value {
        font-size: 10px;
    }

    .car-card__characteristic {
        margin-right: 0;
    }

    .car-card__container {
        height: 100%;
    }

    .car-card__border {
        height: 100%;
    }

    .car-card__wrapper {
        height: 100%;
    }

    .home-cars-sec {
        padding-bottom: 55px;
    }

    .header-row-sec-v2__decor {
        width: 150px;
    }

    .header-row-sec-v2__decor-wrapper {
        margin-bottom: 20px;
    }

    .home-our-client-sec__slider-wrapper {
        margin-top: 40px;
    }

    .home-category-sec .header-row-sec {
        margin-bottom: 40px;
    }

    .our-client-slider__slide-img {
        height: 220px;
    }

    .our-client-slider__slide-description {
        font-size: 12px;
        padding-left: 0;
    }

    .our-client-slider__slide-name {
        padding-left: 0;

        &::before {
            opacity: 0;
        }
    }

    .home-our-client-sec {
        padding-bottom: 90px;
    }

    .clients-about-us__slider-wrapper {
        margin-top: 40px;
    }

    .clients-about-us-slider__slide-text {
        font-size: 14px;
    }



    .clients-about-us {
        padding-bottom: 90px;
    }

    .adv-element__title {
        font-size: 22px;
    }

    .adv-element__subtitle {
        font-size: 14px;
    }

    .home-about-sec__images-claster-col--left .home-about-sec__images-element:nth-child(1) {
        width: calc(50% - 10px);
        height: 200px;
    }

    .home-about-sec__images-claster-col--left .home-about-sec__images-element:nth-child(2) {
        width: calc(50% - 10px);
        height: 200px;
    }

    .home-about-sec__images-claster-col--right .home-about-sec__images-element:nth-child(1) {
        width: calc(50% - 10px);
        height: 200px;
    }

    .home-about-sec__images-claster-col--right .home-about-sec__images-element:nth-child(2) {
        width: calc(50% - 10px);
        height: 200px;
    }

    .home-about-sec {
        .header-row-sec-v2__decor-wrapper {
            display: block;
        }

        .sec-title {


            &:before {
                width: 30px;
                left: -60px;
                top: 12px;
            }

            &:after {
                width: 30px;
                right: -60px;
                top: 12px;
            }
        }
    }

    .home-about-sec__images-contact-element {
        font-size: 20px;
    }

    .home-about-sec__images-social-row .contact-link {
        width: 60px;
        height: 60px;
    }

    .home-about-sec {
        padding-bottom: 90px;
    }

    .faq-element__header {
        padding: 15px 0;
    }

    .faq-element__title {
        font-size: 16px;
        padding-left: 50px;
    }

    .faq-element__btn {
        width: 50px;
        height: 50px;
    }

    .faq-element__counter {
        font-size: 18px;
    }

    .faq-element__text {
        padding-left: 90px;
        font-size: 14px;
        line-height: 1.5;
        padding-right: 60px;
    }

    .faq-element__btn-el {
        width: 25px;
    }

    .home-faq-sec {
        padding-bottom: 90px;
    }

    .form-sec__img-wrapper {
        display: none;
    }

    .form-sec__data {
        width: 100%;


        .header-row-sec-v2__decor-wrapper {
            display: block;
        }

        .sec-title {
            text-align: center;
        }
    }

    .form-sec__subtitle {
        text-align: center;
        font-size: 18px;
        width: 100%;
        max-width: 100%;
        line-height: 1.5;
    }

    .form-sec__contacts {
        justify-content: center;
    }

    .home-form-sec {
        padding-bottom: 90px;

    }

    .seo-sec-type-1 .container {
        flex-wrap: wrap;
    }

    .seo-sec-type-1__data {
        width: 100%;
        padding-right: 0;
    }

    .seo-sec-type-1__read-more {
        margin-top: 10px;
    }

    .seo-sec-type-1__images {
        width: 100%;
        margin-top: 50px;
    }

    .home-seo-sec {
        padding-bottom: 70px;
    }

    .car-card-slider-wrapper .single-car-swiper-button {
        width: 35px;
        height: 35px;
        top: calc(50% - 17px);

        svg {
            width: 18px;
            height: auto;
        }
    }

    .car-card-slider-wrapper .single-car-swiper-button-next {
        right: 10px;
    }

    .car-card-slider-wrapper .single-car-swiper-button-prev {
        left: 10px;
    }

    .table-mod .car-card-slider-wrapper {
        width: 200px;
    }



}

@media only screen and (max-width: 760px) {
    .home-hero-sec {
        height: 600px;
        min-height: 0;
    }

    .home-hero-sec__bg-img {
        height: 510px;
    }

    .home-hero-sec__content {
        padding-top: 80px;
        align-items: flex-start;

        .container {
            height: 100%;
            position: relative;
        }
    }

    .home-hero-sec__decor {
        width: 100px;
    }

    .home-hero-sec__title-row {
        margin-top: 12px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .home-hero-sec__decor-line {
        width: 44px;
        position: absolute;
        top: 12px;

        &:nth-child(1) {
            left: -15px;
        }

        &:last-child {
            right: -15px;
            left: auto;
        }
    }

    .home-hero-sec__title {
        width: 300px;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .home-hero-sec__play {
        width: 73px;
        height: 73px;
        border: solid 1px rgba(255, 255, 255, 0.20);

    }

    .home-hero-sec__play-wrapper {
        width: 47px;
        height: 47px;
        border: solid 3px rgba(255, 255, 255, 0.38);
    }

    .home-hero-sec__play svg {
        width: 22px;
    }

    .home-hero-sec__btn-row {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-top: 0;
        left: 0;
        display: flex;
        justify-content: center;
    }

    .home-hero-sec__text {
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 135%;
        bottom: 124px;
        text-align: center;
        width: 100%;
        left: 0;
        letter-spacing: 0.7px;
        position: absolute;
    }

    .home-category-sec {
        padding-top: 90px;

        .btnV1 {
            display: none;
        }

        .header-row-sec {
            margin-bottom: 35px;
        }

        .home-news-sec__slider-row-control-wrapper {
            display: none;
        }
    }

    .sec-title {
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.72px;
    }

    .sec-title--left-mod {
        padding-left: 0;
        padding-bottom: 22px;
        text-align: center;
        width: 100%;

        &::before {
            width: 50px;
            left: calc(50% - 25px);
            top: auto;
            bottom: 0;
        }
    }

    .swipe-home-cat__wrapper {
        height: 146px;
    }

    .swipe-home-cat__title {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .swipe-home-cat__wrapper {
        padding: 20px 10px 20px 10px;
    }

    .swipe-home-cat__img-wprapper {
        height: 80px;
    }



    .home-cars-sec {
        .btnV1 {
            display: none;
        }
    }

    .header-row-sec__cars-wrapper {
        margin-top: 35px;

        .car-card {
            width: 100%;
        }
    }

    .home-cars-sec {
        .home-cars-sec__btn-all-cars-mob {
            display: inline-flex;
            margin: 0 auto;
            margin-top: 15px;
        }
    }

    .header-row-sec-v2__decor {
        width: 100px;
    }

    .header-row-sec-v2__decor-wrapper {
        margin-bottom: 15px;
    }

    .home-our-client-sec__slider-wrapper {
        margin-top: 35px;
    }

    .our-client-slider__slide-img {
        height: 320px;
    }

    .our-client-slider__slide-name {
        padding-left: 35px;

        &:before {
            opacity: 1;
        }
    }

    .our-client-slider__slide-description {
        padding-left: 35px;
    }

    .home-news-sec__slider-row-control-wrapper {
        margin-top: 20px;
    }

    .clients-about-us {}

    .sec-title--center-mod {
        width: 100%;
        padding: 0 30px;
        text-align: center;

        &:before {
            left: 0;
            top: calc(50% - 1px);
        }

        &:after {
            right: 0;
            top: calc(50% - 1px);
        }
    }

    .clients-about-us__slider-wrapper {
        margin-top: 35px;
    }

    .clients-about-us-slider__slide-wrapper {
        padding: 20px;
    }

    .clients-about-us-slider__slide-photo {
        width: 90px;
        height: 120px;
        border-radius: 0;
    }

    .clients-about-us-slider__slide-client-data {
        width: calc(100% - 90px);
        padding: 0;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 20px;

    }

    .clients-about-us-slider__slide-client-name {
        padding-left: 0;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;

        &::before {
            opacity: 0;
        }
    }

    .clients-about-us-slider__slide-client-description {
        margin-top: 10px;
        padding-left: 0;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.6px;
    }

    .clients-about-us-slider__slide-data {
        margin-top: 20px;
    }

    .clients-about-us-slider__slide-read-more-btn {
        margin-top: 15px;
    }

    .home-about-sec__adv-wrapper {
        margin-top: 35px;
    }

    .adv-element {
        width: 100%;
    }

    .home-about-sec__images-claster-col {
        flex-wrap: wrap;
        width: calc(50% - 9px);

    }

    .home-about-sec__images-claster-col--left {
        .home-about-sec__images-element {
            &:nth-child(1) {
                width: 100%;
                height: 196px;
                margin-bottom: 18px;
            }

            &:nth-child(2) {
                width: 100%;
                height: 107px;

            }
        }


    }


    .home-about-sec__images-claster-col--right {
        .home-about-sec__images-element {
            &:nth-child(1) {
                width: 100%;
                height: 173px;
                margin-bottom: 18px;
            }

            &:nth-child(2) {
                width: 100%;
                height: 131px;

            }
        }
    }

    .home-about-sec__images-contacts-row {
        margin-top: 30px;
    }

    .home-about-sec__images-social-row .contact-link {
        width: 45px;
        height: 45px;
    }

    .home-about-sec__images-contact-element {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
        /* 18px */
        letter-spacing: 0.36px;
    }

    .home-faq-sec {
        .btnV1 {
            display: none;
        }
    }

    .header-row-sec-v2__decor-wrapper--mob {
        display: block;
        width: 100%;
    }

    .header-row-sec {
        flex-wrap: wrap;
    }

    .faq-wrapper {
        margin-top: 35px;
    }

    .faq-element__header {
        padding: 20px 0;
    }

    .faq-element__title {
        padding-left: 20px;
        width: calc(100% - 50px - 20px);
        font-size: 13px;
        padding-right: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .faq-element__btn-el {
        width: 20px;
    }

    .faq-element__text {
        font-size: 12px;
        padding-left: 40px;
        padding-right: 0;
    }

    .faq-element__body {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    .form-sec__body {
        margin-top: 5px;
    }

    .form-sec__subtitle {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .form-sec__contacts {
        margin-top: 40px;
        justify-content: flex-start;
    }

    .social-contact-def__value {
        margin-bottom: 10px;
    }

    .social-contact-def__icon {
        width: 50px;
        height: 50px;
    }

    .social-contact-def__icon-wrapper img {
        max-width: 18px;
        max-height: 18px;
    }

    .social-contact-def__info {
        width: calc(100% - 50px);
        padding-top: 6px;
    }

    .social-contact-def {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
        align-items: flex-start;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .home-seo-sec {
        .sec-title {
            text-align: left;
        }
    }

    .seo-sec-type-1__text-container {
        margin-top: 3px;
    }

    .seo-sec-type-1__img {
        height: 170px;
    }

    .seo-sec-type-1__images {
        margin-top: 40px;
    }

    .home-about-sec .sec-title:after {
        right: calc(50% - 25px);
        width: 50px;
        bottom: 0;
        top: auto;
    }

    .home-faq-sec .home-faq-sec__btn-mob {
        display: flex;
        margin: 0 auto;
        margin-top: 40px;
    }

    .home-category-sec swiper-container::part(scrollbar) {
        display: block;
        bottom: 0;
        height: 10px;
        background: $bgColor2;
        padding: 2px;


    }

    .home-category-sec swiper-container {

        --swiper-scrollbar-drag-bg-color: #5D736E;

    }

    .home-cat-slider-swiper .swipe-home-cat {
        padding-bottom: 40px;
    }

    .table-mod {
        .car-card-slider-wrapper {
            width: 135px;
        }

        .single-car-swiper-button {
            display: none;
        }
    }

    .clients-about-us-slider__slide-client-data-resources {
        margin-left: 0;
    }

    .clients-about-us-slider__slide-client-data {
        align-items: flex-start;
    }

    .faq-element:hover .faq-element__title {
        transform: translateX(0px);

    }
}