.home-hero-sec {
    width: 100%;
    height: 100vh;
    position: relative;
}

.home-hero-sec__bg-img {
    width: 100%;
    height: 100vh;
    display: block;
    object-fit: cover;
    position: relative;
    z-index: 1;
}

.home-hero-sec__header-shadow {
    position: absolute;
    width: 100%;
    height: 150px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.70) 39.35%, rgba(0, 0, 0, 0.00) 100%);
    z-index: 2;
    top: 0;
    left: 0;
}

.home-hero-sec__content {
    position: absolute;
    padding-top: 70px;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero-sec__decor {
    width: 250px;
    margin: 0 auto;
}

.home-hero-sec__decor-img {
    width: 100%;
    display: block;
}

.home-hero-sec__title-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.home-hero-sec__decor-line {
    background: $white;
    border-radius: 2px;
    width: 384px;
    height: 2px;
}

.home-hero-sec__title {
    font-size: 62px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: $white;
    font-family: $titleFont;
    width: 690px;
    text-align: center;

    b {
        font-weight: 600;
        color: $gold1;
    }
}

.home-hero-sec__play {
    border: solid 2px rgba(255, 255, 255, 0.20);
    width: 158px;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    margin: 123px auto;
    cursor: pointer;
    transition: all ease 0.3s;
    position: relative;

    &:hover {
        border: solid 2px rgba(255, 255, 255, 1);
        transition: all ease 0.3s;

        .home-hero-sec__play-wrapper {
            transform: scale(1.2);
            transition: all ease 0.3s;
            border: solid 10px $gold1;
        }

    }

    svg {
        display: block;
        transition: all ease 0.3s;
        position: absolute;
        z-index: 10;
    }
}

.home-hero-sec__play-wrapper {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border: solid 10px rgba(255, 255, 255, 0.38);
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all ease 0.3s;
    position: absolute;


}

.home-hero-sec__text-wrapper {
    width: 100%;
}

.home-hero-sec__text {
    text-align: center;
    color: $white;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 145%;
    /* 34.8px */
    letter-spacing: 1.2px;
    font-family: $subFont;
    max-width: 680px;
    margin: 0 auto;
}

.home-hero-sec__btn-row {
    display: flex;
    justify-content: center;
    margin-top: 43px;
}

.home-category-sec {
    padding-top: 115px;
    padding-bottom: 180px;

    .header-row-sec {
        margin-bottom: 53px;
    }
}

.header-row-sec {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sec-title {
    font-size: 45px;
    font-weight: 600;
    letter-spacing: 1.35px;
    font-family: $titleFont;
    color: $white;
    line-height: 1;
    position: relative;


    b {
        font-weight: 600;
        color: $gold1;
        display: inline;
    }
}

.sec-title--left-mod {
    padding-left: 80px;

    &:before {
        width: 50px;
        height: 2px;
        background: $white;
        position: absolute;
        left: 0;
        content: "";
        top: 20px;
    }
}

.swipe-home-cat__wrapper {
    width: 100%;
    height: 290px;
    border: 1px solid rgba(243, 200, 132, 0.20);
    background: $bgColor2;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px 25px 60px 25px;
    transition: all ease 0.3s;

    &:hover {
        border: 1px solid rgba(243, 200, 132, 0.69);
        transition: all ease 0.3s;
        box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.50);

        .swipe-home-cat__title {
            transition: all ease 0.3s;
            color: $white;
        }

        .swipe-home-cat__img {
            transition: all ease 0.3s;
            transform: scale(1.05);
        }

        .swipe-home-cat__title-row {


            &::before {
                width: 34px;
                opacity: 1;
                transition: all ease 0.3s;
            }

            &::after {
                width: 34px;
                opacity: 1;
                transition: all ease 0.3s;
            }

        }
    }
}

.swipe-home-cat__img-wprapper {
    width: 100%;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swipe-home-cat__img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    transition: all ease 0.3s;
}

.swipe-home-cat__title-row {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transition: all ease 0.3s;

    &::before {
        width: 34px;
        height: 1px;
        background: $gold1;
        position: absolute;
        content: "";
        right: calc(100% - 34px);
        width: 0;
        opacity: 0;
        transition: all ease 0.3s;
    }

    &::after {
        width: 34px;
        height: 1px;
        background: $gold1;
        position: absolute;
        content: "";
        left: calc(100% - 34px);
        width: 0;
        opacity: 0;
        transition: all ease 0.3s;
    }

}

.swipe-home-cat__title {
    text-align: center;
    font-family: $subFont;
    color: $green2;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: all ease 0.3s;
}

.swiper-def-ar {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    height: 70px;
    cursor: pointer;

    svg {
        display: block;
        z-index: 10;
        position: relative;
        transition: all ease 0.3s;
    }

    &:hover {
        .swiper-def-ar__circle {
            transform: scale(1.15);
            transition: all ease 0.3s;

        }

        svg {
            transform: translateX(5px);
            transition: all ease 0.3s;
        }
    }
}

.swiper-def-ar__circle {
    position: absolute;
    border-radius: 70px;
    border: 1px solid #707070;
    background: rgba(217, 217, 217, 0.00);
    width: 70px;
    height: 70px;
    transition: all ease 0.3s;
}

.swiper-def-ar--next {
    .swiper-def-ar__circle {
        right: 0;
    }
}

.home-news-sec__slider-row {
    position: relative;
}

.home-news-sec__slider-row-control-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}

.slider-counter__total {
    color: $grey3;
    font-family: $titleFont;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.slider-counter__current {
    font-size: 65px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
    color: $white;
    font-family: $titleFont;
}

.home-cars-sec {
    padding-bottom: 150px;
}

.header-row-sec__cars-wrapper {
    .car-card {
        margin-top: 70px;
    }
}

.header-row-sec-v2 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.header-row-sec-v2__decor {
    margin: 0 auto;
    width: 193px;
    display: block;

}

.header-row-sec-v2__decor-wrapper {
    width: 100%;
    margin-bottom: 30px;
}

.sec-title--center-mod {

    margin: 0 auto;

    &:before {
        width: 50px;
        height: 2px;
        background: $white;
        position: absolute;
        left: -80px;
        content: "";
        top: 20px;
    }

    &:after {
        width: 50px;
        height: 2px;
        background: $white;
        position: absolute;
        right: -80px;
        content: "";
        top: 20px;
    }
}

.home-our-client-sec__slider-wrapper {
    margin-top: 70px;
}

.our-client-slider__slide-wrapper {
    border: 1px solid #534A3C;
    background: $bgColor2;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.35);
    padding: 10px;
    padding-bottom: 24px;
}

.our-client-slider__slide-img {
    width: 100%;
    height: 320px;
    display: block;
    object-fit: cover;
}

.our-client-slider__slide-data {
    margin-top: 15px;
}

.our-client-slider__slide-name {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $gold1;
    font-family: $titleFont;
    padding-left: 35px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        width: 20px;
        height: 2px;
        background: $white;
        content: "";
        border-radius: 2px;
        position: absolute;
        left: 0;
    }
}

.our-client-slider__slide-description {
    padding-left: 35px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 15px;
    color: $grey2;
    font-family: $subFont;

}

.home-our-client-sec {
    padding-bottom: 130px;
}

.clients-about-us {
    padding-bottom: 150px;
}

.clients-about-us__slider-wrapper {
    margin-top: 70px;
}

.clients-about-us-slider__slide-wrapper {
    border: 2px solid #534A3C;

    background: $bgColor2;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-wrap: wrap;
}

.clients-about-us-slider__slide-photo {
    width: 160px;
    display: block;
    object-fit: cover;
    height: 210px;
}

.clients-about-us-slider__slide-data {
    width: calc(100% - 160px);
    padding-left: 30px;
}

.clients-about-us-slider__slide-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey2;
    font-family: $subFont;
}

.clients-about-us-slider__slide-read-more-btn {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-family: $subFont;
    cursor: pointer;

    span {
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $grey3;
        margin-right: 10px;
    }

    svg {
        display: block;

    }
}

.clients-about-us-slider__slide-client-data {
    width: 100%;
    padding-left: 190px;
}

.clients-about-us-slider__slide-client-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $gold1;
    font-family: $titleFont;
    padding-left: 34px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        width: 20px;
        height: 2px;
        border-radius: 10px;
        background: $gold1;
        position: absolute;
        left: 0;
        content: "";
    }
}

.clients-about-us-slider__slide-client-description {
    color: $grey3;
    font-family: $subFont;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.7px;
    margin-top: 5px;
    padding-left: 34px;
}

.home-about-sec {
    padding-bottom: 150px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.home-about-sec__info {
    width: calc(100% - 740px);
    padding-right: 95px;
}

.home-about-sec__images {
    width: 740px;
}

.home-about-sec__adv-wrapper {
    padding-left: 84px;
    margin-top: 50px;
}

.adv-element {
    display: flex;
    align-items: flex-start;

    margin-bottom: 40px;

    &:last-child {
        margin-bottom: 0;
    }
}

.adv-element__icon-wrapper {
    background: linear-gradient(180deg, #99825B 0%, #513F2B 100%);
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: block;
    padding: 1px;
}

.adv-element__icon-wrapper-contaier {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $bgColor;
}

.adv-element__icon {
    max-height: 30px;
    max-width: 30px;
    display: block;
}

.adv-element__data {
    width: calc(100% - 70px);
    padding-left: 30px;
    padding-top: 20px;
}

.adv-element__title {
    font-family: $titleFont;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    margin-bottom: 23px;
}

.adv-element__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey3;
    font-family: $subFont;
}

.home-about-sec__images-claster {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.home-about-sec__images-claster-col {
    width: calc(50% - 20px);
}

.home-about-sec__images-element {
    width: 100%;
    display: block;
    margin-bottom: 40px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);

    &:last-child {
        margin-bottom: 0;
    }
}

.home-about-sec__images-claster-col--left {
    .home-about-sec__images-element {
        &:nth-child(1) {
            height: 400px;
        }

        &:nth-child(2) {
            height: 220px;
        }
    }
}

.home-about-sec__images-claster-col--right {
    .home-about-sec__images-element {
        &:nth-child(1) {
            height: 355px;
        }

        &:nth-child(2) {
            height: 268px;
        }
    }
}

.home-about-sec__images-contacts-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 80px;
}

.home-about-sec__images-contact-element {
    display: inline-block;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    /* 26px */
    letter-spacing: 0.52px;
    color: $white;
    font-family: $titleFont;
    transition: all ease 0.3s;

    &:hover {
        color: $gold1;
        transition: all ease 0.3s;
    }
}

.home-about-sec__images-social-row {
    display: flex;
    align-items: center;

    .contact-link {
        width: 70px;
        height: 70px;
        margin-left: 20px;

        &:first-child {
            margin-left: 0;
        }

    }

    .contact-link__wrapper {
        background: $bgColor;

        svg {
            width: 24px;
            height: auto;
        }
    }
}

.home-faq-sec {
    padding-bottom: 150px;
}

.faq-wrapper {
    margin-top: 70px;
}

.faq-element {
    border-bottom: solid 1px $green1;

    &:first-child {
        border-top: solid 1px $green1;
    }

    &:hover {
        .faq-element__title {
            transform: translateX(10px);
            transition: all ease 0.3s;
            color: $white;
        }
    }
}

.faq-element__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    padding-right: 25px;
}

.faq-element__title {
    width: calc(100% - 110px);
    padding-left: 380px;
    transition: all ease 0.3s;
}

.faq-element__counter {
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    color: $grey4;
    font-family: $subFont;
    transition: all ease 0.3s;
}

.faq-element__title {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: $grey2;
    line-height: normal;
}

.faq-element__btn {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: solid 1px $grey3;
    position: relative;
    cursor: pointer;
    transition: all ease 0.3s;


    &:hover {
        transform: scale(1.05);
        background: $bgColor2;
        transition: all ease 0.3s;

        .faq-element__btn-el {

            transition: all ease 0.3s;
        }
    }
}

.faq-element__btn-el {
    width: 30px;
    height: 2px;
    border-radius: 10px;
    background: $gold1;
    position: absolute;
    transition: all ease 0.3s;
}

.faq-element__btn-el2 {
    transform: rotate(90deg);
}

.faq-element {
    &.active {
        .faq-element__btn-el1 {
            transform: rotate(90deg);
        }

        .faq-element__counter {
            color: $white;
        }

        .faq-element__title {
            color: $white;
        }

        &:hover {
            .faq-element__title {
                transform: translateX(0);
            }
        }
    }
}

.faq-element__text {
    padding-left: 415px;
    padding-right: 100px;
    color: $grey3;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
}

.faq-element__body {
    padding-bottom: 30px;
    padding-top: 20px;
}

.home-form-sec {
    padding-bottom: 150px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.form-sec__img-wrapper {
    border-radius: 485px;
    border: 1px solid rgba(243, 200, 132, 0.10);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    width: 465px;
    height: 465px;
    padding: 43px;
}

.form-sec__img {
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    display: block;
    border: 1px solid rgba(243, 200, 132, 0.20);
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
}

.form-sec__data {
    width: calc(100% - 465px);
}

.form-sec__body {
    padding-left: 80px;
    margin-top: 30px;
}

.form-sec__subtitle {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: $grey3;
    line-height: 30px;
    max-width: 675px;
    font-family: $subFont;
}

.form-sec__contacts {
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.social-contact-def {
    display: flex;
    align-items: center;
    margin-right: 30px;

    &:last-child {
        margin-right: 0;
    }
}

.social-contact-def__icon {
    background: linear-gradient(180deg, #99825B 0%, #513F2B 100%);
    padding: 1px;
    width: 70px;
    height: 70px;
    border-radius: 100px;
}

.social-contact-def__icon-wrapper {
    background: $bgColor2;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
        display: block;
    }
}

.social-contact-def__info {
    margin-left: 20px;
}

.social-contact-def__value {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $white;
    margin-bottom: 12px;
}

.social-contact-def__subvalue {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $grey1;
}

.social-contact-def__extream {
    color: $grey1;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    /* 10.8px */
    letter-spacing: 0.18px;
    margin-top: 14px;
}

.home-seo-sec {
    padding-bottom: 150px;
}

.seo-sec-type-1 {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }
}

.seo-sec-type-1__images {
    display: flex;
    justify-content: space-between;
    width: 740px;
}

.seo-sec-type-1__img {
    width: calc(50% - 20px);
    height: 350px;
    display: block;
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
}

.seo-sec-type-1__data {
    width: calc(100% - 740px);
    padding-right: 80px;
}

.seo-sec-type-1__title {
    font-size: 40px;
}

.seo-sec-type-1__text-container {
    margin-top: 20px;
    padding-left: 75px;
}

.seo-sec-type-1__read-more {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 30px;

    &.active {
        .seo-sec-type-1__read-more-icon--line-2 {
            transform: rotate(0deg);
        }
    }

    &:hover {
        .seo-sec-type-1__read-more-icon {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }
}

.seo-sec-type-1__read-more-text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    color: $grey2;
}

.seo-sec-type-1__read-more-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 35px;
    border: 1px solid #707070;
    margin-left: 15px;
    transition: all ease 0.3s;
    position: relative;
    width: 35px;
    height: 35px;
}

.seo-sec-type-1__read-more-icon-line {
    width: 15px;
    height: 1px;
    border: 10px;
    background: $gold1;
    transition: all ease 0.3s;
    position: absolute;
}

.seo-sec-type-1__read-more-icon--line-2 {
    transform: rotate(90deg);
}

.seo-sec-type-1__text-wrapper {
    max-height: 215px;
    transition: all ease 0.5s;
    overflow: hidden;
}

.wp-editor {
    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        color: $grey3;
        margin-bottom: 20px;

        b,
        strong {
            font-weight: 400;
            color: $white;
        }
    }

}