.singl-partner-about-sec {
    padding-bottom: 180px;
    padding-top: 270px;
}

.singl-partner-about-sec__wrapper {
    margin-top: 70px;
}

.singl-partner-how-it-work-sec {
    padding-bottom: 150px;
}

.singl-partner-how-start-sec {
    padding-bottom: 150px;
}