.singl-partner-about-sec {
    padding-bottom: 180px;
    padding-top: 270px;
}

.singl-partner-about-sec__wrapper {
    margin-top: 70px;
}

.singl-partner-how-it-work-sec {
    padding-bottom: 150px;
}

.singl-partner-how-start-sec {
    padding-bottom: 150px;
}


@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1580px) {
    .singl-partner-about-sec {
        padding-bottom: 150px;
        padding-top: 230px;
    }

    .info-data-row {
        margin-bottom: 100px;
    }

    .info-data-row {
        padding-left: 0;
    }
}

@media only screen and (max-width: 1380px) {}