@import "vars";

.rules-hero-sec {
    padding-top: 230px;
    padding-bottom: 150px;
}

.rules-faq-sec {
    padding-bottom: 150px;
}


.rules-hero-sec__wrapper {
    margin-top: 100px;
}

.hero-partners-sec {
    padding-top: 270px;
    padding-bottom: 180px;
}

.hero-partners-sec__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 160px;



    .seo-sec-type-1__data {
        padding-right: 0;
        padding-left: 60px;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &:nth-child(even) {
        .seo-sec-type-1__images {
            order: 2;
        }

        .seo-sec-type-1__data {
            padding-right: 60px;
            padding-left: 0;
        }
    }
}

// .sec-title--capitalize-mod {
//     text-transform: uppercase;

// }

.hero-partners-sec__title {
    line-height: 130%;
    margin-bottom: 24px;

}

.hero-partners-sec__btn {
    margin-top: 20px;
}



@media only screen and (max-width: 1750px) {}

@media only screen and (max-width: 1580px) {


    .rules-hero-sec {
        padding-bottom: 130px;
    }

    .rules-faq-sec {
        padding-bottom: 130px;
    }
}

@media only screen and (max-width: 1500px) {
    .rules-hero-sec {
        padding-bottom: 100px;
        padding-top: 180px;
    }

    .rules-faq-sec {
        padding-bottom: 100px;
    }

    .hero-partners-sec {
        padding-top: 180px;
    }

    .hero-partners-sec__row .seo-sec-type-1__data {
        padding-left: 30px;
    }

    .hero-partners-sec__title {
        font-size: 30px;
    }

    .hero-partners-sec__row {
        margin-bottom: 120px;
    }
}

@media only screen and (max-width: 1380px) {
    .rules-hero-sec {
        padding-top: 180px;
        padding-bottom: 100px;
    }

    .rules-faq-sec {
        padding-bottom: 100px;
    }

    .hero-partners-sec {
        padding-top: 200px;
        padding-bottom: 120px;
    }

    .hero-partners-sec__row {
        margin-bottom: 100px;
        align-items: flex-start;

        .seo-sec-type-1__data {
            padding-left: 40px;
        }

        &:nth-child(even) {
            .seo-sec-type-1__data {
                padding-right: 40px;
            }
        }
    }

    .hero-partners-sec__title {
        padding-left: 0;

        &::before {
            opacity: 0;
        }
    }

    .hero-partners-sec__title {
        font-size: 26px;
    }
}

@media only screen and (max-width: 990px) {
    .rules-hero-sec {
        padding-top: 160px;
        padding-bottom: 90px;
    }

    .rules-faq-sec {
        padding-bottom: 90px;
    }

    .hero-partners-sec {
        padding-top: 160px;
        padding-bottom: 100px;
    }

    .hero-partners-sec__row {
        flex-wrap: wrap;

        .seo-sec-type-1__images {
            width: 100%;
            order: 2;
        }

        .seo-sec-type-1__data {
            padding-left: 0;
            width: 100%;

        }
    }

    .hero-partners-sec__row:nth-child(even) .seo-sec-type-1__data {
        padding-right: 0;
    }

    .rules-hero-sec__wrapper {
        margin-top: 60px;
    }
}

@media only screen and (max-width: 760px) {
    .rules-hero-sec {
        padding-top: 120px;
    }

    .rules-faq-sec {
        .header-row-sec {
            .btnV1 {
                display: none;
            }
        }

        .home-faq-sec__btn-mob {
            display: flex;
            margin: 0 auto;
            margin-top: 40px;
        }
    }

    .hero-partners-sec {
        padding-top: 120px;
        padding-bottom: 90px;
    }

    .hero-partners-sec__title {
        position: relative;

        &::before {

            opacity: 1;
        }
    }

    .hero-partners-sec__row .seo-sec-type-1__text-wrapper {
        text-align: center;
    }

    .hero-partners-sec__btn {
        margin: 0 auto;
        margin-top: 20px;
    }

    .hero-partners-sec__row {
        margin-bottom: 80px;
    }

    .hero-partners-sec__title {
        font-size: 24px;
    }

    .rules-hero-sec__wrapper {
        margin-top: 60px;
    }
}


@media only screen and (max-width: 370px) {
    .hero-partners-sec__title {
        font-size: 22px;
    }

    .hero-partners-sec__row .seo-sec-type-1__images {
        margin-top: 30px;
    }

    .hero-partners-sec__row {
        margin-bottom: 60px;
    }

    .hero-partners-sec {
        padding-bottom: 70px;
    }
}