$mainFont: 'RF Dewi Expanded';
// $titleFont: 'Pathway Gothic One', sans-serif;
$titleFont: "Cormorant Garamond", serif;
$titleFont2: "Cinzel", serif;
$subFont: "Montserrat", sans-serif;
$fontNum: 'SKNigarRUS';
$titleFont3: 'TT Ricordi Allegria Trl Regular';




$bgColor: #10161B;
$bgColor2: #151D24;
$bgColor3: #11181F;

$white: #fff;

$grey1: #71777A;
$grey2: #CFCFCF;
$grey3: #707070;
$grey4: #808080;
$green2: #CFCFCF;

$gold1: #F1BD81;

$green1: #3F4F4F;
$green2s: #5D736E;