$mainFont: 'RF Dewi Expanded';
// $titleFont: 'Pathway Gothic One', sans-serif;
$titleFont: "Cormorant Garamond", serif;
$subFont: "Montserrat", sans-serif;
$fontNum: 'SKNigarRUS';




$bgColor: #10161B;
$bgColor2: #151D24;
$bgColor3: #11181F;

$white: #fff;

$grey1: #71777A;

$gold1: #F1BD81;

$green1: #3F4F4F;