@import "vars";
@import "fonts";
@import "mixins";

@import "sourse";
@import "buttons";
@import "header";
@import "footer";

@import "components/car-card";
@import "components/custom-select";
@import "components/wp-editor";

@import "home-page";
@import "autopark-page";
@import "car-page";
@import "rules-page";
@import "doc-page";
@import "error-404-page";
@import "contacts-page";
@import "partners-page";
@import "partner-single-page";
@import "certeficats";