.booking-widget {
    position: fixed;
    z-index: 100;
    bottom: 0;
    left: 0;
    width: 100%;
    background: $bgColor2;
    padding: 25px 0;
    padding-top: 15px;
    padding-bottom: 35px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);

    .container {
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    &::before {
        width: 100%;
        height: calc(100vh - 103px);
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.5);
        content: "";
        position: fixed;
        pointer-events: none;
        opacity: 0;
        transition: all ease 0.3s;
    }

    &:hover {
        &::before {
            opacity: 1;
        }
    }


}

.booking-widget__form {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .btnV1__title {
        font-size: 18px;
        padding: 17px 0;
    }

    .btnV1 {
        width: 280px;
    }


}

.booking-widget__input {
    width: 280px;
    margin-right: 25px;

    input {
        width: 100%;
        background: none;
        border: 1px solid #534A3C;
        font-size: 18px;
        padding: 13px;
        color: $white;
        font-family: $titleFont3;
        line-height: 1;
        font-weight: normal;
        letter-spacing: 1px;
        transition: all ease 0.3s;

        &::placeholder {
            color: $grey2;
        }

        &:hover,
        &:focus {
            border: solid 1px $gold1;
            transition: all ease 0.3s;
        }

        &.validation-error {
            border: solid 1px $red1;
        }
    }
}

.booking-widget__date {

    width: 300px;
    margin-right: 25px;

    input {
        width: 100%;
        background: none;
        border: 1px solid #534A3C;
        font-size: 18px;
        padding: 13px 30px 13px 40px;
        color: $white;
        font-family: $titleFont3;
        line-height: 1;
        font-weight: normal;
        letter-spacing: 1px;
        transition: all ease 0.3s;
        border-radius: 0;
        opacity: 1;

        &::placeholder {
            color: $grey2 !important;
            opacity: 1;
        }

        &:hover,
        &:focus {
            border: solid 1px $gold1 !important;
            transition: all ease 0.3s;
        }
    }
}

.booking-widget__social-row {
    display: flex;
    align-items: center;

    .social-contact-def {
        margin-left: 20px;
        margin-right: 0;
        margin-bottom: 0;
    }

    .social-contact-def__icon {
        width: 52px;
        height: 52px;

        img {
            width: 20px;
            height: 20px;
        }
    }
}

.booking-widget__social-row-text {
    font-family: $titleFont;
    text-transform: uppercase;
    font-size: 18px;
}

.booking-widget__ipad {
    display: none;
}

:deep(.dp__theme_dark) {
    --dp-background-color: #151D24;
    --dp-text-color: #CFCFCF;
    --dp-hover-color: #3F4F4F;
    --dp-hover-text-color: #fff;
    --dp-hover-icon-color: #CFCFCF;
    --dp-primary-color: #5D736E;
    --dp-primary-disabled-color: #F1BD81;
    --dp-primary-text-color: #fff;
    --dp-secondary-color: #a9a9a9;
    --dp-border-color: #2d2d2d;
    --dp-menu-border-color: #2d2d2d;
    --dp-border-color-hover: #aaaeb7;
    --dp-border-color-focus: #aaaeb7;
    --dp-disabled-color: #737373;
    --dp-disabled-color-text: #d0d0d0;
    --dp-scroll-bar-background: #151D24;
    --dp-scroll-bar-color: #484848;
    --dp-success-color: #00701a;
    --dp-success-color-disabled: #428f59;
    --dp-icon-color: #959595;
    --dp-danger-color: #e53935;
    --dp-marker-color: #e53935;
    --dp-tooltip-color: #3e3e3e;
    --dp-highlight-color: rgb(0 92 178 / 20%);
    --dp-range-between-dates-background-color: var(--dp-hover-color);
    --dp-range-between-dates-text-color: var(--dp-hover-text-color);
    --dp-range-between-border-color: var(--dp-hover-color);
}


.booking-widget {
    .checkbox-item-custom__wrapper {
        // width: 20px;
        // height: 20px;
        // border: solid 1px $darkBlueV2;
        // display: block;
        // border-radius: 4px;
    }

    /* Скрываем стандартный чекбокс */
    .checkbox-item-custom__wrapper input[type="checkbox"] {
        position: absolute;
        opacity: 0;
        pointer-events: none;
    }

    /* Стиль коробки */
    .checkbox-item-custom__box {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 2px solid #888;
        border-radius: 4px;
        /* для скругления */
        transition: all 0.3s ease;
        position: relative;
        cursor: pointer;

    }

    /* Состояние checked */
    .checkbox-item-custom__wrapper input[type="checkbox"]:checked+.checkbox-item-custom__box {
        background-color: $bgColor2;
        /* фон при активном чекбоксе */
        border-color: $bgColor2;
    }

    /* Галочка */
    .checkbox-item-custom__wrapper input[type="checkbox"]:checked+.checkbox-item-custom__box::after {
        content: "";
        position: absolute;
        left: 5px;
        top: 0px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }

    .form-popup__checkbox-wrapper {
        margin-top: 30px;

    }

    .checkbox-item-custom {
        display: flex;
        align-items: flex-start;
        margin-bottom: 0;
        width: 100%;
        flex-wrap: wrap;
        left: 0;
        bottom: -30px;
        position: absolute;

        &:last-child {
            margin-bottom: 0;
        }

        .form-valid-error {
            position: relative;
            top: auto;
            left: auto;
            bottom: auto;
            width: auto;
            padding-left: 5px;
            margin-top: 0px;
            text-align: left;
            color: $red1;
            font-size: 12px;
            display: inline-block;
        }
    }

    .checkbox-item-custom__text {
        width: calc(100% - 20px);
        padding-left: 10px;
        font-size: 12px;
        padding-top: 2px;
        color: $green2s;

        a {
            text-decoration: underline;
            color: $green2s;
        }
    }

}




@media only screen and (max-width: 1500px) {
    .booking-widget__social-row-text {
        display: none;
    }

    .booking-widget {
        padding-top: 15px;
        padding-bottom: 35px;
    }
}

@media only screen and (max-width: 1380px) {
    .booking-widget__ipad {
        display: flex;
    }

    .booking-widget__form {
        display: none;
    }

    .booking-widget__social-row-text {
        display: block;
    }

    .booking-widget {
        padding: 20px 0;

        &:hover {
            &::before {
                opacity: 0;
            }
        }
    }

    .booking-widget .checkbox-item-custom {
        display: none;
    }
}

@media only screen and (max-width: 990px) {}

@media only screen and (max-width: 800px) {
    .booking-widget__social-row-text {
        display: none;
    }
}

@media only screen and (max-width: 760px) {
    .booking-widget__social-row-text {
        display: none;
    }

    .booking-widget__social-row {
        // display: none;
    }

    .booking-widget .container {
        justify-content: center;
    }

    .booking-widget__social-row {
        .social-contact-def {
            margin-left: 7px;

            &:first-child {
                margin-left: 0;
            }
        }

        .social-contact-def__icon {
            width: 40px;
            height: 40px;
        }
    }

    .booking-widget {
        .container {
            justify-content: space-between;
        }

        .btnV1 {
            width: 190px;
        }

        .btnV1__title {
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 370px) {
    .booking-widget .btnV1 {
        width: 150px;
    }

    .booking-widget__date input {
        font-size: 14px;
    }

    .booking-widget__input input {
        font-size: 14px;
    }
}