.custom-select {
    width: 100%;
    position: relative;

    &:hover {
        .custom-select__result {
            transition: all ease 0.3s;
            border: 1px solid rgba(243, 200, 132, 0.60);
        }

        .custom-select__ar {
            svg {
                path {
                    fill: rgba(243, 200, 132, 0.60);
                    transition: all ease 0.3s;
                }
            }
        }
    }

    &.active {}
}

.custom-select__header {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.custom-select__result {
    border: 1px solid rgba(243, 200, 132, 0.20);
    background: $bgColor2;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 20px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey2;
    font-family: $mainFont;
    transition: all ease 0.3s;

}

.custom-select__ar {
    position: absolute;
    z-index: 5;
    right: 15px;
    transition: all ease 0.3s;

    svg {
        display: block;

        path {
            transition: all ease 0.3s;
        }
    }
}

.custom-select__body {
    position: absolute;
    left: 0;
    width: calc(100% + 60px);
    top: 100%;
}

.custom-select__body-wrapper {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.custom-select__inp-value {
    width: calc(50% - 20px - 25px);

    input {
        width: 100%;
        border: 1px solid rgba(243, 200, 132, 0.20);
        background: $bgColor2;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
        width: 100%;
        padding: 15px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: $grey2;
        font-family: $mainFont;
        transition: all ease 0.3s;
    }
}

.custom-select__aprove {
    width: 49px;
    height: 49px;
    border: 1px solid rgba(243, 200, 132, 0.20);
    background: $bgColor2;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);

    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: all ease 0.5s;

}

.custom-select__list-element {
    width: 100%;
    border: 1px solid rgba(243, 200, 132, 0.20);
    background: $bgColor2;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
    width: 100%;
    padding: 15px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: $grey2;
    font-family: $mainFont;
    transition: all ease 0.3s;
    margin-bottom: 10px;

    &:hover {
        border: 1px solid rgba(243, 200, 132, 0.60);
        transition: all ease 0.3s;
        cursor: pointer;
    }
}

.custom-select__list {
    width: 100%;
}

.custom-select__body-one {
    width: 100%;
}