@import "../vars";

.popups-wrapper {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 9999;

    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popups-wrapper__bg {
    background: rgba(0, 0, 0, 0.7);
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: absolute;
}


.bg-fade-enter-active {
    transition: all 0.8s ease;
    opacity: 1;
}

.bg-fade-leave-active {
    opacity: 1;
    transition: all 0.8s ease;
}

.bg-fade-enter-from,
.bg-fade-leave-to {

    opacity: 0;
}



.popup {
    position: absolute;
    z-index: 10;
}

.popup__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all ease 0.3s;
    z-index: 20;

    svg {
        transition: all ease 0.3s;
    }


    &:hover {
        svg {
            transform: scale(1.1);
            transition: all ease 0.3s;
        }
    }
}

.form-popup {
    width: 660px;
    border-radius: 40px;
    background: #fff;
    padding: 50px 80px;
    background: #E7ECF4;

}

.info-form-sec__form-inp-btn-v2 {
    border-radius: 100px;
    background: #C8A65F;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
    color: #fff;
    padding: 21px 0;
    cursor: pointer;
}

.info-form-sec__form-inp-btn-v2-icon {
    margin-left: 10px;

    svg {
        display: block;
    }
}

.checkbox-item-custom__wrapper {
    // width: 20px;
    // height: 20px;
    // border: solid 1px $darkBlueV2;
    // display: block;
    // border-radius: 4px;
}

/* Скрываем стандартный чекбокс */
.checkbox-item-custom__wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Стиль коробки */
.checkbox-item-custom__box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #888;
    border-radius: 4px;
    /* для скругления */
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

/* Состояние checked */
.checkbox-item-custom__wrapper input[type="checkbox"]:checked+.checkbox-item-custom__box {
    background-color: $bgColor2;
    /* фон при активном чекбоксе */
    border-color: $bgColor2;
}

/* Галочка */
.checkbox-item-custom__wrapper input[type="checkbox"]:checked+.checkbox-item-custom__box::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-popup__checkbox-wrapper {
    margin-top: 30px;

}

.checkbox-item-custom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    .form-valid-error {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        width: 100%;
        padding-left: 35px;
        margin-top: 5px;
        text-align: left;
    }
}

.checkbox-item-custom__text {
    width: calc(100% - 20px);
    padding-left: 15px;
    font-size: 12px;
    color: $bgColor2;

    a {
        text-decoration: underline;
        color: $bgColor2;
    }
}








.form-popup-done__wrapper {
    width: 660px;
    border-radius: 40px;
    background: #E7ECF4;
    padding: 50px 80px;
}

.form-popup-done__icon-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    svg {
        display: block;
    }
}

.form-popup-done__title {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 28.8px */
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

.form-popup-done__subtitle {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    margin-top: 15px;
}


.serteficat-popup {

    height: auto;
    max-height: calc(100vh - 100px);
}

.serteficat-popup__wrapper {
    // height: 100%;

    // iframe {
    //     height: 100%;
    //     width: 900px;
    // }
}

.serteficat-popup__slider {
    height: auto;
    width: 700px;
}

.serteficat-popup-slider-prev {
    left: -20px;
}

.serteficat-popup-slider-next {
    right: -20px;
}

.serteficat-popup-slider__img {
    height: auto;
    max-height: calc(100vh - 100px);
    width: 100%;
    display: block;
    object-fit: contain;
}

.serteficat-popup-slider__element {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}




.form-popup-price-table {
    width: 900px;
    background: $bgColor;
    padding: 60px;
    max-height: calc(100vh - 80px);
    overflow-y: auto;

    .home-our-client-sec__title {
        font-size: 35px;
    }
}

.form-popup-price-table::-webkit-scrollbar {
    width: 5px;
}

.form-popup-price-table::-webkit-scrollbar-track {}

.form-popup-price-table::-webkit-scrollbar-thumb {
    background-color: $bgColor2;
    border-radius: 100px;

}

.form-popup-price-table__table {
    margin-top: 40px;
}


.popup-table-price__row {
    width: 100%;
    background: $bgColor2;
    display: flex;
    border: 1px solid #534A3C;
    margin-bottom: 10px;
    min-height: 50px;
    justify-content: space-between;
    align-items: center;
}

.popup-table-price__row-title {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
}

.popup-table-price__col {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 10px 30px;
}

.popup-table-price__name {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    color: $grey3;
}

.popup-table-price__value {
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
    color: $white;
    width: 100%;
}

.form-popup-price-table__booking-car-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.form-popup-price-table__car-title {
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.7px;
    color: $white;
    font-family: $titleFont;
    text-transform: uppercase;

    b {
        font-weight: 600;
        color: $gold1;
    }
}


.popup-video__wrapper {
    width: 100%;
    height: 100%;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


}


.popup-video {
    width: 1280px;
    height: 720px;
    opacity: 1;
    border: 1px solid #534A3C;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);

    .popup__close {
        right: -50px;
        top: -50px;
    }
}



.slide-fade-enter-active {
    transition: all 0.8s ease;
    opacity: 1;
}

.slide-fade-leave-active {
    opacity: 1;
    transition: all 0.8s ease;
}

.slide-fade-enter-from,
.slide-fade-leave-to {
    transform: translateY(100%);
    opacity: 0;
}




.popup-form {
    width: 650px;
    background: $bgColor;
    max-height: calc(100vh - 80px);
    overflow-y: auto;

}

.popup-form::-webkit-scrollbar {
    width: 5px;
}

.popup-form::-webkit-scrollbar-track {
    background: $bgColor3;
}

.popup-form::-webkit-scrollbar-thumb {
    background-color: $bgColor2;
    border-radius: 100px;

}

.popup-form__wrapper {
    padding: 50px;

    .home-our-client-sec__title {
        font-size: 40px;
    }

    .contacts-sec__form-subtitle {
        text-align: center;
        margin-top: 20px;
    }
}

.popup-form__fields-wrapper {
    margin-top: 30px;
    padding: 0 50px;

    .contacts-sec__form-inp-wrapper {
        position: relative;

        input {
            text-align: center;
        }
    }
}

.popup-form__contacts-wrapper {
    margin-top: 40px;

    .home-our-client-sec__title {
        font-size: 30px;
    }
}

.popup-form__contacts-wrapper {
    margin-top: 50px;
}

.popup-form__contacts-wrapper-title {
    font-size: 22px;
    font-family: $titleFont;
    text-transform: uppercase;
    font-weight: 600;
    color: $white;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
}

.popup-form__contacts-wrapper-row {
    display: flex;
    justify-content: center;
    margin-top: 25px;

    .social-contact-def__info {
        display: none;
    }
}

.popup-done {
    width: 700px;
    background: $bgColor;
}

.popup-done__wrapper {
    padding: 80px 40px;
    padding-bottom: 60px;

    .sec-title {
        font-size: 40px;
    }

    .contacts-sec__form-subtitle {
        text-align: center;
        margin-bottom: 0;
    }
}


.checkbox-item-custom__wrapper {
    // width: 20px;
    // height: 20px;
    // border: solid 1px $darkBlueV2;
    // display: block;
    // border-radius: 4px;
}

/* Скрываем стандартный чекбокс */
.checkbox-item-custom__wrapper input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

/* Стиль коробки */
.checkbox-item-custom__box {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid $green1;
    border-radius: 4px;
    /* для скругления */
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}

/* Состояние checked */
.checkbox-item-custom__wrapper input[type="checkbox"]:checked+.checkbox-item-custom__box {
    background-color: $green1;
    /* фон при активном чекбоксе */
    border-color: $green1;
}

/* Галочка */
.checkbox-item-custom__wrapper input[type="checkbox"]:checked+.checkbox-item-custom__box::after {
    content: "";
    position: absolute;
    left: 5px;
    top: 0px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.form-popup__checkbox-wrapper {
    margin-top: 30px;

}

.checkbox-item-custom {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
    flex-wrap: wrap;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    .form-valid-error {
        position: relative;
        top: auto;
        left: auto;
        bottom: auto;
        width: 100%;
        padding-left: 35px;
        margin-top: 5px;
    }
}

.checkbox-item-custom__text {
    width: calc(100% - 20px);
    padding-left: 15px;
    font-size: 10px;
    color: $green1;

    a {
        text-decoration: underline;
        color: $green1;
        transition: all ease 0.3s;

        &:hover {
            color: $white;
            transition: all ease 0.3s;
        }
    }
}

.form-valid-error {
    color: $red1;
    font-size: 12px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}

.form-valid-error-main {
    font-size: 12px;
    text-align: center;
    color: $red1;
    margin-top: 10px;
}


.popup-booking {
    width: 500px;
    background: $bgColor2;
    padding: 60px 40px;
    padding-bottom: 40px;
}

.popup-booking__form {
    padding: 0 0px;

    .booking-widget__date {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .booking-widget__input {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .btnV1 {
        margin: 0 auto;
        width: 100%;
    }

    .form-popup__checkbox-wrapper {
        margin-bottom: 25px;
    }
}

.popup-booking__title {
    font-size: 32px;
    text-align: center;
    color: $white;
    font-family: $titleFont;

    b {
        color: $gold1;
    }
}

.popup-booking__subtitle {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    color: #707070;
}

.popup-review {
    .contacts-sec__form-subtitle {
        font-size: 16px;
        margin-top: 30px;
        font-family: $subFont;
        line-height: 1.4;
        color: #CFCFCF;
    }
}

@media only screen and (max-width: 1520px) {
    .form-popup {
        width: 500px;
        padding: 40px;
        border-radius: 30px;
    }

    .info-form-sec__form-inp-btn-v2 {
        font-size: 18px;
        padding: 15px 0;
    }

    .info-form-sec__form-subtitle {
        font-size: 16px;
        margin-bottom: 30px;
    }

}

@media only screen and (max-width: 1500px) {
    .popup-video {
        width: 1165px;
        height: 600px;
    }
}

@media only screen and (max-width: 1380px) {
    .popup-video {
        width: calc(100% - 50px);

        .popup__close {
            right: 0;
        }
    }


}

@media only screen and (max-width: 1100px) {
    .form-popup-price-table {
        width: 980px;
        padding: 60px;
    }
}

@media only screen and (max-width: 990px) {
    .form-popup-price-table {
        width: 750px;
        padding: 40px;
    }

    .form-popup-price-table .home-our-client-sec__title {
        font-size: 26px;
    }

    .form-popup-price-table__table {
        margin-top: 40px;
    }

    .popup-table-price__row {
        .price-table__el-value-new-price-sale-procent {
            right: auto;
            left: -45px;
            display: none;
        }

        .popup-table-price__col {
            &:last-child {
                padding-left: 0;
            }
        }

    }

    .popup-table-price__value {
        font-size: 14px;
    }

    .popup-table-price__name {
        font-size: 14px;
    }

    .form-popup-price-table__booking-car-row {
        margin-top: 40px;
        flex-wrap: wrap;
        justify-content: center;

    }

    .form-popup-price-table__car-title {
        font-size: 26px;
        margin-bottom: 30px;
        width: 100%;
        text-align: center;
    }

    .popup-video {
        height: 500px;
    }

    .popup-form__wrapper .home-our-client-sec__title {
        font-size: 26px;
    }

    .contacts-sec__form-subtitle {
        font-size: 16px;
    }

    .popup-form__wrapper {
        padding: 40px;
    }

    .popup-form__contacts-wrapper-row {
        .social-contact-def {
            margin-bottom: 0;

        }

        .social-contact-def__icon {
            width: 50px;
            height: 50px;

            img {
                width: 20px;
            }
        }
    }

    .popup-table-price__row-title {
        font-size: 18px;
    }
}

@media only screen and (max-width: 760px) {

    .popup__close {
        top: 0px;
        right: 0px;
    }

    .popup-form {
        width: 360px;

        .popup__close {
            right: 0px;
            top: 0px;
        }
    }

    .popup-form__wrapper {
        padding: 30px 20px;
        padding-top: 40px;
    }

    .contacts-sec__form-subtitle {
        font-size: 14px;
        margin-top: 25px;
    }

    .popup-form__fields-wrapper {
        padding: 0;
        margin-top: 0;
    }

    .popup-form__contacts-wrapper-title {
        font-size: 18px;
    }

    .popup-form__contacts-wrapper-row .social-contact-def {
        width: auto;
        margin: 0 10px;
    }

    .form-valid-error {
        font-size: 10px;
    }

    .form-valid-error-main {
        font-size: 10px;
    }

    .popup-done {
        width: 360px;
    }

    .popup-done__wrapper {
        padding: 40px 20px 30px 20px;
    }

    .popup-done__wrapper .sec-title {
        font-size: 26px;
    }

    .popup-booking {
        width: 360px;
        padding: 50px 25px 30px 25px;

        .popup__close {
            right: 0;
            top: 0;
        }
    }

    .popup-booking__title {
        font-size: 24px;
    }

    .popup-booking__subtitle {
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .form-popup-price-table {
        width: 360px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .popup-table-price__col {
        padding-left: 15px;
        padding-right: 0;
    }

    .popup-table-price__value {
        font-size: 13px;
    }

    .popup-table-price__name {
        font-size: 13px;
    }

    .form-popup-price-table__car-title {
        font-size: 20px;
    }

    .popup-video {
        width: 360px;
        height: 250px;
    }

    .popup-table-price__row-title {
        font-size: 16px;
    }

    .popup-review {
        .contacts-sec__form-subtitle {
            font-size: 14px;
        }
    }
}



@media only screen and (max-width: 370px) {

    .popup-video,
    .popup-booking,
    .popup-done,
    .form-popup-price-table,
    .popup-form {
        width: calc(100% - 20px);
    }

    .popup-done__wrapper .sec-title {
        font-size: 22px;
    }

    .popup-review .contacts-sec__form-subtitle {
        margin-top: 20px;
        font-size: 13px;
    }

    .popup-form__wrapper .home-our-client-sec__title {
        font-size: 22px;
    }

    .popup-form__wrapper .contacts-sec__form-subtitle {
        font-size: 12px;
    }

    .popup-form__contacts-wrapper-title {
        font-size: 16px;
    }

    .popup-form__contacts-wrapper {
        margin-top: 40px;
    }

    .popup-done__wrapper .contacts-sec__form-subtitle {
        font-size: 12px;
    }

    .popup-booking__title {
        font-size: 22px;
    }

    .popup-booking__subtitle {
        font-size: 12px;
    }


}