.wp-editor {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $white;
        margin-bottom: 15px;
    }

    h1,
    h2 {
        font-size: 26px;
    }

    h3 {
        font-size: 22px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 170%;
        color: $grey3;
        margin-bottom: 20px;

        b,
        strong {
            font-weight: 400;
            color: $white;
        }
    }

    ul {
        padding-left: 20px;

        li {
            list-style-type: disc;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 170%;
            color: $grey3;
            margin-bottom: 20px;

            b,
            strong {
                font-weight: 400;
                color: $white;
            }
        }
    }

}