@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 700;
    font-style: normal;
    src: url('RFDewiExpanded-Bold.ttf');
}

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 600;
    font-style: normal;
    src: url('RFDewiExpanded-Semibold.ttf');
}

@font-face {
    font-family: 'RF Dewi Expanded';
    font-weight: 400;
    font-style: normal;
    src: url('RFDewiExpanded-Regular.ttf');
}